#feed-content {
  position: fixed;
  left: 0;
  right: 0;
  top: 70px;
  bottom: 0;
}
#side-panel {
  height: 100%;
  border-right: 1px solid #b7b7b7;
}
#annos {
  height: 100%;
  padding: 0;
  background-color: #f4f4f4;
  overflow-y: scroll;
}
.anno-item {
  height: auto;
  border: 1px solid #b7b7b7;
  border-radius: 4px;
  background-color: white;
  margin: 16px;
}
.anno-item .anno-screenshot {
  width: 35%;
  height: 100%;
  display: inline-block;
  padding: 20px;
  border-right: 1px solid #b7b7b7;
}
.anno-item .anno-details {
  width: 64.7672552%;
  width: calc(65% - 0.5px);
  width: -webkit-calc(65% - 0.5px);
  height: 100%;
  display: inline-block;
  margin-left: -3px;
}
