#login_outer {
  width: 100%;
  height: 100%;
  background: #f9f9f9;
}
#action-button input {
  padding: 0 9.259259259%;
  height: 36px;
  vertical-align: middle;
  line-height: 33px;
  border-radius: 4px;
  outline: 0;
  color: #FFF;
  margin-left: 16px;
  font-size: 18px;
}
#action-button input#login {
  background-color: #9399a5;
  border: 1px solid #939393;
}
#action-button input#signup {
  background-color: #ff6622;
  border: 1px solid #f65007;
}
#login_inner {
  border-radius: 4px;
  background: white;
  text-align: center;
  margin-top: 124px;
  border: 1px solid #c4cfd7;
}
#login_inner #title {
  font-size: 26px;
  color: #111D2B;
  margin: 30px 0;
}
#login_inner .input-div {
  width: 66.666666667%;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #C4CFD7;
  padding: 0 10px;
  outline: 0;
  background-color: #F5F5F5;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 20px;
}
#login_inner input {
  width: 94.783%;
  width: calc(100% - 26px);
  width: -webkit-calc(100% - 26px);
  height: 34px;
  background-color: #F5F5F5;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  padding-left: 6px;
  vertical-align: middle;
}
#login_email, #login_password, #login_team_key {
  margin-bottom: 20px;
}
#login_button {
  width: 66.666666667%;
  height: 40px;
  margin: 0 auto;
  background-color: #9399A5;
  color: #FFF;
  line-height: 40px;
  border-radius: 4px;
  margin-bottom: 60px;
}
