<div class="infoContainer">
    <table style="width: 100%;table-layout: fixed;">
        <tr>
            <td width="40" align="center">
                <span class="annoListItemIcon ${annoIcon}"></span>
                <img style="width: 40px;height: 40px;border-radius: 8px;" src="${app_icon_url}" class="${appIconClass}" />
            </td>
            <td width="95%" style="padding-left: 4px;font-size: 14px;">
                <div class="listTitle">${annoText}</div>
                <div style="padding-top: 2px;">
                    <div class="listAppName" style="float: left;width: 50%">
                        <span id="annoActIndicator_${id}" class="annoOrangeColor ${lastActivityClass}"></span>
                        <span id="annoActText_${id}">${lastActivityText}</span>
                    </div>
                    <div id="annoActWhen_${id}" class="annoOrangeColor" style="float: left;width: 50%;text-align: right">${when}</div>
                </div>
                <div>
                    <div class="listAppName" style="float: left;width: 50%">${app}</div>
                    <div class="listAuthor" style="float: left;width: 50%;text-align: right">${author}</div>
                </div>
            </td>
        </tr>
    </table>
</div>