@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot');
    src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-thumbs-up, .icon-flag, .icon-user, .icon-mobile, .icon-arrow-right, .icon-arrow-right-2, .icon-arrow-left, .icon-comments {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-thumbs-up:before {
    content: "\e000";
}
.icon-flag:before {
    content: "\e001";
}
.icon-user:before {
    content: "\e002";
}
.icon-mobile:before {
    content: "\e004";
}
.icon-arrow-right:before {
    content: "\e003";
}
.icon-arrow-right-2:before {
    content: "\e005";
}
.icon-arrow-left:before {
    content: "\e006";
}
.icon-comments:before {
    content: "\e007";
}


.listAppName
{
    font-size: 12px;
    font-weight: normal;
    color: #AFB1B5;
}

.listAuthor
{
    font-size: 12px;
    font-weight: normal;
    color: #AFB1B5;
}

.listTitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.headingTitle{
    float: left;
}

.headingIcon{
    float: left;
    padding-left: 20px;
}

#navBtnNext
{
    background-color: transparent;
    border-width: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 0px;
    width: 32px;
    background-repeat: no-repeat;
    padding-left: 1px;
    padding-right: 1px;
    float: right;
    padding-right: 20px;
    outline: none;
}

#navBtnPrevious
{
    background-color: transparent;
    border-width: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 0px;
    width: 32px;
    background-repeat: no-repeat;
    padding-left: 1px;
    padding-right: 1px;
    float: right;
    outline: none;
}

#navBtnBackDetail
{
    background-color: transparent;
    border-width: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 0px;
    width: 32px;
    background-repeat: no-repeat;
    padding-left: 1px;
    padding-right: 1px;
    float: left;
    outline: none;
}

#navBtnBackStart
{
    background-image: url(images/navigation_back.png);
    background-color: transparent;
    border-width: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 0px;
    width: 32px;
    background-repeat: no-repeat;
    padding-left: 1px;
    padding-right: 1px;
    float: left;
    outline: none;
}

.navBtnDisabled{
    opacity: 0.4;
}

#headingStart
{
    background-image: none;
    background-color: #dddddd;
    text-shadow:none;
    color: #333333;
    border-bottom: 1px solid #aeaeae;
}

#headingDetail
{
    background-image: none;
    background-color: #dddddd;
    text-shadow:none;
    color: #333333;
    border-bottom: 1px solid #aeaeae;
}

.imgDetailScreenshot{
    border: 2px solid #ff9900;
}

.screenshotContainerDetail{
    padding-left: 2px;
    padding-top: 2px;
    position: absolute;
}

.discussDivDetail{
    position: absolute;right: -48px;top: 40px;
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -o-transform: rotate(270deg);
    transform:rotate(270deg);
    white-space:nowrap;
    background-color: #ff9900;
    color: #333333;
    font-size: 14px;
    width: 68px;
    height: 20px;
    text-align: center;
    padding: 2px;
    font-weight: bold;
}

.screenshotAnchorDetail
{
    position: absolute;
    top: 30%;
    left: 48%;
}

.screenshotAnchorInvisibleDetail
{
    position: absolute;
    top: 30%;
    left: 48%;
    width: 40px;
    height: 40px;
}

.screenshotDefaultAnchorDetail
{
    position: absolute;
    top: 50px;
    left: 48%;
    width: 40px;
    height: 40px;
}

.screenshotTooltipDetail
{
    font-weight: bold;
    font-size: 16px;
}

.textDataAreaContainer{
    position: absolute;
    border: 2px solid #808080;
    background-color: white;
    left: 1px;
    margin-top: 2px;
    z-index: 2001;
    padding-top: 10px;
    padding-left: 6px;
    padding-right: 6px;
}

.mblTooltipBelow .mblTooltipArrow {
    border-top-color: black;
}

.mblTooltipBubble.mblTooltipBelow .mblTooltipInnerArrow {
    border-top-color: white;
}

.mblTooltipArrow {
    border: 17px solid transparent;
}

.mblTooltipInnerArrow {
    border: 16px solid transparent;
}

.mblTooltip
{
    border-radius: 0px;
    border-width: 2px;
    border-color: #000000;
    background-color: white;
}

.mblTooltipBubble.mblTooltipAbove .mblTooltipInnerArrow {
    border-bottom-color: white;
}

.appNameDetail
{
    width: 100%;
    height: 24px;
    font-size: 16px;
    padding-bottom: 2px;
}

.appNameTitleDetail, .authorDetail, .deviceInfoDetail
{
    color: #AFB1B5;
}

.appNameTitleDetail
{
    padding-right: 4px;
}

.annoTextDetail
{
    width: 100%;
    border: 2px solid orange;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.commentDetail
{
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 46px;
    padding-right: 20px;
/*    overflow-x: hidden;*/
}

.commentTextbox{
    margin-left: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;

    height: 22px;
    line-height: 22px;
    font-size: 12px;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    width: 180px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    vertical-align: middle;
    z-index: 4000;
}

.lightCover {
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2002;
}

.lightCoverScreenshot {
    background-color: transparent;
    /*opacity: 0.5;*/
    width: 30px;
    height: 100%;
}

.icoImgDeactive
{
    color: #c0c0c0;
    font-size: 30px;
}

.icoImgActive
{
    color: orange;
    font-size: 30px;
}

.personImg
{
    font-size: 24px;
    color: #c0c0c0;
}

.toastMsgContainer
{
    position: absolute;
    background-color: #161616;
    opacity: 0.8;
    padding: 6px;
    width: 230px;
    height: 20px;
    z-index: 5000;
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
}

.noJump {
    width: 1px;
    height: 1px;
    -webkit-transform: translate3d(0,0,0);
    float: right;
}