.project
.settings
.classpath
*~
*.swp
bin
.metadata
gen
local.properties
*.pyc
.idea
.DS_Store
.pydevproject
search_indexes
usersource.datastore

getstarted-docs/site/

.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
