@font-face {
    font-family: 'icomoon';
    src:url('../../community/css/fonts/icomoon.eot');
    src:url('../../community/css/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../../community/css/fonts/icomoon.ttf') format('truetype'),
    url('../../community/css/fonts/icomoon.woff') format('woff'),
    url('../../community/css/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down-left:before {
    content: "\e600";
}
.icon-arrow-down-right:before {
    content: "\e601";
}
.icon-arrow-up-right:before {
    content: "\e602";
}
.icon-arrow-up-left:before {
    content: "\e603";
}
.icon-bubbles:before {
    content: "\e604";
}
.icon-simplecomment:before {
    content: "\e607";
}
.icon-shapes:before {
    content: "\e608";
}
.icon-comment:before {
    content: "\e609";
}
.icon-cog:before {
    content: "\e60a";
}
.icon-thumbs-up:before {
    content: "\e60c";
}
.icon-flag:before {
    content: "\e60d";
}
.icon-user:before {
    content: "\e60e";
}
.icon-mobile:before {
    content: "\e60f";
}
.icon-arrow-right:before {
    content: "\e610";
}
.icon-arrow-left:before {
    content: "\e611";
}
.icon-bubbles:before {
    content: "\e612";
}
.icon-backward:before {
    content: "\e613";
}
.icon-forward:before {
    content: "\e614";
}
.icon-chat:before {
    content: "\e605";
}
.icon-landscape:before {
    content: "\e606";
}
.icon-search:before {
    content: "\e60b";
}

html,body{
    height: 100%;
    overflow: hidden;
    margin: 0px;
}

body{
    /*background-image: url(file:///storage/emulated/0/Pictures/Screenshots/Screenshot_2013-11-01-12-58-14.png);*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: helvetica, arial;
    /*background-color: transparent;*/
}

#gfxCanvasContainer
{
    outline: none;
}

#gfxCanvasContainer:focus
{
    outline: none;
}

#gfxCanvasContainer:active
{
    outline: none;
}

#bottomBarContainer, #bottomBarBlackContainer
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 46px;
    width: 100%;
    /*background-color: black;*/
    /*opacity: 0.5;*/
    background-color: rgba(0,0,0, 0.5);
    color: white;
    padding-top: 4px;
}

#topBar
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 46px;
    width: 100%;
    background-color: rgba(0,0,0, 1);
    padding-top: 4px;
    color: white;
}

.screenshotContainer
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    border-color: #ff9900;
    border-style: solid;
}

#gfxCanvasContainer
{
    position: absolute;
    top: 0px;
    left: 0px;
    border-color: transparent;
    border-style: solid;
}

.barIcon
{
    font-size: 36px;
}

.barIconDisabled
{
    color:#808080;
}

.barIconDisabled2
{
    background-color: gray;
}

.barBlackRectangle
{
    width: 46px;height: 32px;border: 2px solid white;border-radius: 4px;opacity: 1;
}

.barBlackActive
{
    background-color: black;
}

/*overwirte dojo default style*/
.mblSimpleDialogDecoration
{
    background-color: #000000;
    background-image: none;
    border-radius: 2px;
    font-size: 20px;
    text-align:left;
}

.appNameItem
{
    height: 34px;
    border-bottom: 1px outset gray;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.appNameItem-gray
{
    color: gray;
}

.firstAppNameItem
{
    border-top: 1px outset gray;
    margin-top: 2px;
    padding-top: 10px;
}

.appNameValue
{
    padding-left: 10px;
}

.btn
{
    color: #ffffff;
    background-color: #FF9900;
    border-color: #FF9900;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
}