<div class="view mblView" style="background-color: #ffffff;">
    <div id="signinContainer" style="padding-top: 20px">
        <div style="text-align: center" class="annoOrangeColor">
            <div style="font-size: 22pt;font-weight: bold">Anno</div>
            <img src="../community/css/images/anno96.png" width="120" height="120" alt="">
            <div style="font-size: 13pt;font-weight: bold;">Announce your ideas</div>
        </div>
        <div style="text-align: center;padding-top: 30px">
            <button id="btnSignUp" class="bigGreenBtn" style="width: 206px;height: 48px;">Sign-up</button>
            <div style="font-size: 13pt;color:#6B6767;padding-top: 10px;padding-bottom: 10px">- OR -</div>
            <button id="imgGoogle" class="signinWithGoogleBtn">
                <table>
                    <tr>
                        <td>
                            <span>Sign-in with Google</span>
                        </td>
                        <td>
                            <img src="../community/css/images/google_favicon-32.png" alt="">
                        </td>
                    </tr>
                </table>
            </button>
        </div>
        <div style="text-align: center" id="btnSigninWithAnno">
            <div style="font-size: 11pt;color: #999999;padding-top: 25px;font-weight: bold;">Sign-in with Anno account</div>
        </div>
    </div>
    <div id="annoSigninContainer" style="text-align: center;background-color: #DDDDDD;display: none">
        <div style="text-align: center" class="annoOrangeColor">
            <table width="100%">
                <tr>
                    <td align="right" width="50%">
                        <img src="../community/css/images/anno96.png" alt="">
                    </td>
                    <td align="left" width="50%">
                        <div style="font-size: 22pt;font-weight: bold;padding-bottom: 10px;">Anno</div>
                        <div style="font-size: 13pt;font-weight: bold;">Announce your ideas</div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="signinFormContainer" style="font-weight: bold;width:80%;margin-left: auto;margin-right: auto">
            <form action="signin.html" method="post">
                <div><input type="email" id="signinEmail" placeholder="Email" required="true" class="signin-input" style="font-weight: bold;"></div>
                <div style="padding-top: 2px;"><input type="password" id="signPwd" placeholder="Password" class="signin-input" style="font-weight: bold;"></div>
                <div style="padding-top: 2px;"><input id="nickNameSigninAnno" readonly="readonly" type="text" placeholder="Display name" class="signin-input" style="font-weight: bold;"></div>
                <div style="padding-top: 8px;">
                    <span id="btnFmd" style="color: #999999;padding-top: 26px;">Forgot your details?</span>
                    <button id="btnSubmitAnnoSignin" class="bigGreenBtn" type="button" style="width: 170px;height: 44px;">Done</button>
                </div>
            </form>
        </div>
    </div>
    <div id="pickNickNameContainer" style="margin-top: 30px;display:none;clear: both;width: 80%;margin-left: auto;margin-right: auto">
        <div id="btnBackToSignin" style="color: #999999;font-weight: bold">&lt;&lt; Back to sign-in</div>
        <div style="height: 150px;"></div>
        <div style="color: #000000;font-weight: bold;font-size: 20px;padding-bottom: 20px;padding-left: 10px">Almost there!</div>
        <div><input id="nickNameSignin" type="text" placeholder="Name to display in our community" class="signin-input" style="font-weight: bold;"></div>
    </div>
</div>
