@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?-eac3u4');
    src:url('fonts/icomoon.eot?#iefix-eac3u4') format('embedded-opentype'),
    url('fonts/icomoon.woff?-eac3u4') format('woff'),
    url('fonts/icomoon.ttf?-eac3u4') format('truetype'),
    url('fonts/icomoon.svg?-eac3u4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-stack:before {
    content: "\e61b";
}
.icon-stack2:before {
    content: "\e61c";
}
.icon-board:before {
    content: "\e622";
}
.icon-pencil:before {
    content: "\e61e";
}
.icon-trashcan:before {
    content: "\e61f";
}
.icon-simplecomment:before {
    content: "\e607";
}
.icon-backward:before {
    content: "\e613";
}
.icon-forward:before {
    content: "\e614";
}
.icon-shapes:before {
    content: "\e608";
}
.icon-cog:before {
    content: "\e60a";
}
.icon-comment:before {
    content: "\e609";
}
.icon-stack3:before {
    content: "\e61d";
}
.icon-mobile:before {
    content: "\e60f";
}
.icon-bubbles2:before {
    content: "\e612";
}
.icon-bubbles:before {
    content: "\e604";
}
.icon-users:before {
    content: "\e623";
}
.icon-user:before {
    content: "\e60e";
}
.icon-busy:before {
    content: "\e624";
}
.icon-remove:before {
    content: "\e620";
}
.icon-flag:before {
    content: "\e60d";
}
.icon-thumbs-up:before {
    content: "\e60c";
}
.icon-plus:before {
    content: "\e61a";
}
.icon-arrow-up-left:before {
    content: "\e603";
}
.icon-arrow-up-right:before {
    content: "\e602";
}
.icon-arrow-right:before {
    content: "\e610";
}
.icon-arrow-down-right:before {
    content: "\e601";
}
.icon-arrow-down-left:before {
    content: "\e600";
}
.icon-arrow-left:before {
    content: "\e611";
}
.icon-filter:before {
    content: "\e619";
}
.icon-share:before {
    content: "\e617";
}
.icon-search:before {
    content: "\e60b";
}
.icon-checkmark:before {
    content: "\e625";
}
.icon-landscape:before {
    content: "\e606";
}
.icon-chat:before {
    content: "\e605";
}
.icon-star:before {
    content: "\e616";
}
.icon-star-empty:before {
    content: "\e615";
}
.icon-picture:before {
    content: "\e618";
}
.icon-pencil2:before {
    content: "\e621";
}
.icon-bolt:before {
    content: "\e626";
}


.navBtnBack {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0 3px 0 5px;
	font-size: 24px;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline: 0;
    line-height: inherit;
}

.barMoreMenu
{
    width: 40px;
    height: 40px;
    background-image: url(images/ic_action_overflow.png);
    background-repeat: no-repeat;
    background-position: 60% 100%;
    background-size: 100% 100%;
}

.barMoreMenuActive
{
    background-image: url(images/ic_action_overflow_active.png);
}

#searchSortsBarHome td
{
    border: 1px solid black;
    border-bottom: none;
}

.searchSortItemActive
{
    background-color: #95BCF2;
}

.searchInput
{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    height: 22px;
    line-height: 22px;
    font-size: 13pt;
    color: #A9A9A9;
    font-weight: bold;
    vertical-align: middle;
}

.appNameItem
{
    height: 34px;
    border-bottom: 1px outset gray;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.appNameItem-active
{
    color: #ff9900;
}

.firstAppNameItem
{
    border-top: 1px outset gray;
    margin-top: 2px;
    padding-top: 10px;
}

.appNameValue
{
    padding-left: 10px;
}

#appNameDialog .mblSimpleDialogContainer
{
    color: white;background-color: #000000;background-image: none;border-radius: 2px;font-size: 20px;text-align:left;
}

.annoListItemIcon
{
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: gray;
}

.hidden
{
    display: none;
}

.listAppName, .listAuthor {
	color: #AFB1B5;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.annoActWhen {
    float: left;
    width: 50%;
    text-align: right
}

.listTitle{
	font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.headingTitle{
    float: left;
    padding-left: 4px;
}

.headingIcon{
    float: left;
    padding-left: 10px;
}

#navBtnNext
{
    background-color: transparent;
    border-width: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 0px;
    width: 32px;
    background-repeat: no-repeat;
    padding-left: 1px;
    padding-right: 1px;
    outline: none;
}

#navBtnPrevious
{
    background-color: transparent;
    border-width: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 0px;
    width: 32px;
    background-repeat: no-repeat;
    padding-left: 1px;
    padding-right: 1px;
    float: right;
    outline: none;
}

#navBtnBackDetail
{
    background-color: transparent;
    border-width: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 0px;
    width: 32px;
    background-repeat: no-repeat;
    padding-left: 1px;
    padding-right: 1px;
    float: left;
    outline: none;
}

#navBtnBackStart
{
    background-color: transparent;
    border-width: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 0px;
    width: 32px;
    background-repeat: no-repeat;
    padding-left: 1px;
    padding-right: 1px;
    float: left;
    outline: none;
}

.homeBottomBar
{
    height: 46px;
    width: 100%;
    background-color: #333333;
    color: white;
    padding-top: 4px;
}

.navBtnDisabled{
    opacity: 0;
}

.annoOrangeColor
{
    color: #ff9900;
}

.bigGreenBtn
{
    outline: none;
    color: #ffffff;
    background-color: #1c8436;
    border-color: #1c8436;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 16pt;
    font-weight: bold;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
    -webkit-user-select: none;
}

.signinWithGoogleBtn
{
    outline: none;
    padding: 0 8px;
    width: auto;
    height: 48px;
    color: #3d83f0;
    background-color: white;
    border-color: #1c8436;
    display: inline-block;
    margin-bottom: 0;
    font-size: 13pt;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid #3d83f0;
    border-radius: 8px;
    -webkit-user-select: none;
}

#headingStart, .topHeading {
    background-image: none !important;
    background-color: #000000;
    text-shadow: none;
    color: white;
    height: 44px;
    padding-top: 4px;
    border: none !important;
    line-height: 44px;
}

.barIcon
{
    font-size: 30px;
}

.barIconHighlight
{
    color: #ff9900;
}

.barIconDisabled
{
    opacity: 0.5;
}

#headingDetail
{
    background-image: none;
    background-color: #dddddd;
    text-shadow:none;
    color: #333333;
    border-bottom: none;
    border-top: none;

    position:fixed;
    top:0px;
    left:0px;
    background-color: #000000;
    z-index: 9000;
    color:white;
    height: 50px;
}

.imgDetailScreenshot{
    /*border: 2px solid #ff9900;*/
}

.gfxCanvasContainer
{
    position: absolute;
    top: 0px;
    left: 0px;
}

.screenshotContainerDetail{
    /*padding-left: 2px;
    padding-top: 2px;*/
    position: absolute;
    top: 50px;
}

.discussDivDetail{
    position: absolute;right: -48px;top: 40px;
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -o-transform: rotate(270deg);
    transform:rotate(270deg);
    white-space:nowrap;
    background-color: #ff9900;
    color: #333333;
    font-size: 14px;
    width: 68px;
    height: 20px;
    text-align: center;
    padding: 2px;
    font-weight: bold;
}

.screenshotAnchorDetail
{
    position: absolute;
    top: 30%;
    left: 48%;
}

.screenshotAnchorInvisibleDetail
{
    position: absolute;
    top: 30%;
    left: 48%;
    width: 40px;
    height: 40px;
}

.screenshotDefaultAnchorDetail
{
    position: absolute;
    top: 50px;
    left: 48%;
    width: 40px;
    height: 40px;
}

.screenshotTooltipDetail
{
    font-weight: bold;
    font-size: 16px;
}

.textDataAreaContainer{
    /*border: 2px solid transparent;*/
    /*background-color: white;*/
    left: 0;
    /*margin-top: 2px;*/
    z-index: 2001;
    /*padding-top: 10px;*/
}

.mblTooltipBelow .mblTooltipArrow {
    border-top-color: black;
}

.mblTooltipBubble.mblTooltipBelow .mblTooltipInnerArrow {
    border-top-color: white;
}

.mblTooltipArrow {
    border: 17px solid transparent;
}

.mblTooltipInnerArrow {
    border: 16px solid transparent;
}

.mblTooltip
{
    border-radius: 0px;
    border-width: 2px;
    border-color: #000000;
    background-color: white;
}

.mblTooltipBubble.mblTooltipAbove .mblTooltipInnerArrow {
    border-bottom-color: white;
}

.appNameDetail
{
    /*width: 100%;*/
    height: 24px;
    padding-bottom: 8px;
}

.appNameTitleDetail, .authorDetail, .deviceInfoDetail
{
    color: #AFB1B5;
}

.appNameTitleDetail
{
    padding-right: 8px;
}

.annoTextDetail
{
    border: 2px solid #ff9900;
    padding: 2px 4px;
    margin: 0 8px;
}

.commentDetail
{
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 36px;
    padding-right: 4px;
    box-sizing: border-box;
    /*    overflow-x: hidden;*/
}

#addCommentContainer {
    padding-left: 6px;
    border-top: 2px solid #aeebfc;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    bottom: 0px;
}

.commentTextbox{
    margin-left: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;

    /*height: 22px;
    line-height: 22px;*/
    font-size: 13pt;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    width: 180px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    vertical-align: middle;
    z-index: 4000;
    padding-left: 2px;
    padding-right: 0px;
    border-radius: 0;
    -webkit-appearance: none;
	resize: none;
}

.lightCover {
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2002;
}

.lightCoverScreenshot {
    background-color: transparent;
    /*opacity: 0.5;*/
    width: 30px;
    height: 100%;
}

.icoImgDeactive
{
    color: #c0c0c0;
    font-size: 30px;
}

.icoImgActive
{
    color: #ff9900;
    font-size: 30px;
}

.personImg
{
    font-size: 24px;
    color: #c0c0c0;
}

.toastMsgContainer
{
    position: absolute;
    background-color: #161616;
    opacity: 0.8;
    padding: 6px;
    width: 230px;
    height: 20px;
    z-index: 5000;
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
}

.noJump {
    width: 1px;
    height: 1px;
    -webkit-transform: translate3d(0,0,0);
    float: right;
}

.btn
{
    color: #ffffff;
    background-color: #ff9900;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 0;
    outline: 0;
    border-radius: 4px;
    -webkit-user-select: none;
}

.newbtn
{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid gray;
    border-radius: 4px;
    -webkit-user-select: none;
    background-color: white;
    color: black;
    font-weight: bold;
}

.disabledBtn
{
    background-color: black;
    color: gray;
}

.screenshotContainer
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    border-color: #ff9900;
    border-style: solid;
}

#gfxCanvasContainer, .gfxCanvasContainerLocal
{
    position: absolute;
    top: 0px;
    left: 0px;
    border-color: transparent;
    border-style: solid;
}

/*overwirte dojo default style*/
.mblSimpleDialogCover
{
    background-color: rgba(0, 0, 0, 0.8);
}

.mblSimpleDialogDecoration
{
    color: #000000;
    background-color: white;
    background-image: none !important;
    border-radius: 6px;
    text-align:center;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.menuItem
{
    border-bottom: 1px solid #000000;
    height: 30px;
    padding-top: 8px;
    padding-left: 12px;
}

/* sign in*/
.signinHeading
{
    background-image: none;
    background-color: transparent;
    text-shadow:none;
    color: #333333;
    height: 44px;
    padding-top: 4px;
    border: none;
}

.signin-input
{
    border: none;
    outline: 0;
    height: 34px;
    line-height: 22px;
    margin: 4px 0px 0px 0px;
    font-size: 13pt;
    vertical-align: middle;
    padding: 6px 12px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
}
.mblBackground
{
    background-color: #ffffff;
}

.mobile body {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    background-color: white !important;
}

.hashTag, .commentURL
{
    color: blue;
}

.clickableDiv {
	color: blue;
	text-decoration: underline;
}

.row
{
    outline: none;
}

#inviteNewUser .commentTextbox {
	width: 98%;
	width: calc(100% - 10px);
	width: -webkit-calc(100% - 10px);
	padding: 2px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-appearance: initial;
	box-shadow: none;
	font-size: 16px;
	line-height: 22px;
	outline: 0;
}

.mblRoundRectCategory {
	margin-left: 9px;
}

#detailSuggestedTags {
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	font-size: 16px;
	background: #F4F4F4;
	border-top: 1px solid #CFCFCF;
	z-index: 10000;
	white-space: nowrap;
	overflow-x: auto;
}

.tag {
	display: inline-block;
	padding: 10px;
	color: blue;
}

.mblListItem {
	font-weight: normal;
}

li.read {
	background-color: #ededed;
}

li.unread .listTitle {
	font-weight: bold;
}

#zoomScreenshotContainerDetail {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: scroll;
	background-color: black;
}

#zoomClose {
	position: fixed;
	padding: 4px 6px;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	font-weight: bold;
	font-size: 16px;
	border-radius: 8px;
	margin: 4px;
	z-index: 100;
}

#communityWelMsg {
	margin: 7px 9px 4px;
	padding: 6px 6px 6px 6px;
	border: 2px solid #adaaad;
	border-radius: 8px;
	outline: 0;
	-webkit-user-select: auto !important;
}

#versionInfo {
	position: absolute;
	bottom: 5px;
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: gray;
}

#learnHowContainer, #errorWindow {
	width: 100%;
	height: 91.535%;
	height: calc(100% - 48px);
	height: -webkit-calc(100% - 48px);
	text-align: center;
	color: rgb(211, 112, 17);
}

/* for plugin */
body.plugin #tdHeadingLeft,
body.plugin #tdBarSearchAnno,
body.plugin #tdBarSettings,
body.plugin #tdNavBtnScreenshot,
body.plugin #tdNavBtnTray,
body.plugin #appNameContainer,
body.plugin #tdTxtSearchAnno {
	display: none !important;
}

body.plugin #tdNavBtnBackFeeds {
	display: block !important;
}

body.plugin #tdBarMyStuff  {
	width: 45px !important;
	padding-right: 6px !important;
}

body.plugin #tdBarAddImage {
	width: 45px !important;
	padding-right: 0 !important;
}

body.plugin #barAddImage,
body.plugin #barMyStuff  {
	line-height: 44px; !important;
}
