<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <title>Admin Team Master</title>
        <link rel="icon" type="image/x-icon" href="/admin_team_master/images/favicon.ico"/>
        <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'>
        <link rel="stylesheet" type="text/css" href="/admin_team_master/css/main.css">
        <link rel="stylesheet" type="text/css" href="/admin_team_master/css/bootstrap.min.css">
        <script type="text/javascript" src="/admin_team_master/js/lib/angular.min.js"></script>
        <script type="text/javascript" src="/admin_team_master/js/constants.js"></script>
        <script type="text/javascript" src="/admin_team_master/js/services.js"></script>
        <script type="text/javascript" src="/admin_team_master/js/controllers.js"></script>
    </head>
    <body ng-app="AdminTeamMaster">
        <div class="header">
            <div>
                <div style="font-size: 150%; font-weight: bold; color: #f62;margin-left: 20px;">ANNOT8 Team Master</div>
            </div>
        </div>
        <div id="main" ng-controller="Main" ng-init="initMain();">
            <div id="main-inner">
                <div style="width: 30%;height: 100%;padding: 0;border-right: 1px solid #C4CFD7;position: absolute;overflow-y: auto;">
                    <div style="margin: 20px 0 20px 20px;">
                        <div style="font-weight: 600;font-size: 16px;">Teams</div>
                        <div class="admin-button" style="position: absolute;right: 20px;top: 20px;" ng-click="showCreateSDKTeamScreen();">Add Team</div>
                    </div>
                    <div ng-repeat="community in communities" class="community" ng-class="{'selected':($index == 0)}" data-team-key="{{community.team_key}} "ng-click="selectCommunity($event);">
                        <img width="35px" height="35px" style="border-radius: 4px;" ng-src="{{community.app_icon && community.app_icon || '/admin_team_master/images/icon_mobile.png'}}">
                        <span style="vertical-align: middle;margin-left: 10px;">{{community.community_name}}</span>
                        <!-- <span style="vertical-align: middle;margin-left: 4px;">({{community.app_name}})</span> -->
                    </div>
                </div>
                <div style="width: 70%;height: 100%;padding: 0;position: absolute;right: 0;overflow-y: auto;">
                    <div style="font-weight: 600;padding: 20px 0 20px 20px;border-bottom: 1px solid #C4CFD7;font-size: 16px;">Team Details - {{community_detail.community_name}}</div>
                    <div class="community-detail-row">
                        <div style="font-weight: 600;">
                            <img width="12px" height="15px" src="/admin_team_master/images/icon_key.png" style="margin-right: 6px;">
                            <span style="vertical-align: middle;font-size: 16px;">Team Key</span>
                        </div>
                        <div style="margin-top: 10px;padding-bottom: 20px;">{{community_detail.team_key}}</div>
                    </div>
                    <div class="community-detail-row">
                        <div style="font-weight: 600;">
                            <img width="12px" height="15px" src="/admin_team_master/images/icon_password.png" style="margin-right: 6px;">
                            <span style="vertical-align: middle;font-size: 16px;">Team Secret</span>
                        </div>
                        <div style="margin-top: 10px;padding-bottom: 20px;">{{community_detail.team_secret}}</div>
                    </div>
                    <div class="community-detail-row" style="  margin: 0;padding: 0 20px;">
                        <div style="font-weight: 600;">
                            <img width="14px" height="14px" src="/admin_team_master/images/icon_globe.png" style="margin-right: 6px;">
                            <span style="vertical-align: middle;font-size: 16px;">Dashboard URL</span>
                        </div>
                        <a class="dashboard-url" ng-href="{{getDashboardURL(community_detail.community_name, community_detail.team_hash);}}" target="_blank">{{getDashboardURL(community_detail.community_name, community_detail.team_hash);}}</a>
                    </div>
                    <div style="height: auto;margin: 20px;">
                        <div style="font-weight: 600;">
                            <img width="16px" height="16px" src="/admin_team_master/images/icon_mentions.png" style="margin-right: 6px;">
                            <span style="vertical-align: middle;font-size: 16px;">{{community_detail.users.length}} Members</span>
                        </div>
                        <div ng-repeat="user in community_detail.users" class="user">
                            <div style="margin-bottom: 20px;">
                                <img style="width: 35px;height: 35px;border-radius: 18px;margin: 0;" ng-src="{{user.image_url && user.image_url || '/admin_team_master/images/icon_no-user.png'}}">
                                <div style="display: inline-block;vertical-align: middle;margin-left: 8px;">
                                    <div style="font-weight: 600; color: #1b96c9;">{{user.display_name}}</div>
                                    <div style="color: #9399A5;font-size: 13px;">{{user.user_email}}</div>
                                </div>
                            </div>
                            <div style="display: inline-block;">
                                <span style="font-weight: bold;">Password Present:</span>
                                <span>{{user.password_present}}</span>
                            </div>
                            <div style="display: inline-block;margin-left: 20px;">
                                <span style="font-weight: bold;">Role:</span>
                                <span>{{user.role}}</span>
                            </div>
                            <div style="display: inline-block;margin-left: 20px;">
                                <span style="font-weight: bold;">Circle:</span>
                                <span>{{user.circle}}</span>
                            </div
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="create-community" style="width: 100%;height: 100%;position: fixed;background: rgba(0, 0, 0, 0.6);" ng-show="createSDKTeamScreenVisible">
            <div id="create-community-inner" style="  width: 90%;height: 90%;margin: 0 auto;background-color: #FFF;">
                <div>
                    <div>
                        <span>Team Name</span>
                        <input id="input_team_name" ng-model="team_name"/>
                    </div>
                    <div>
                        <span>App Name</span>
                        <input id="input_app_name" ng-model="app_name"/>
                    </div>
                    <div>
                        <span>Team Key</span>
                        <input id="input_team_key" ng-model="team_key"/>
                    </div>
                    <div>
                        <div>Admin Users</div>
                        <input id="input_admin_display_name" ng-model="admin_display_name" placeholder="Display Name">
                        <input id="input_admin_email" ng-model="admin_email" placeholder="Email Address">
                        <input id="input_admin_password" ng-model="admin_password" placeholder="Password">
                    </div>
                    <button id="create_community" ng-click="createSDKTeam();">Create Community</button>
                </div>
            </div>
        </div>
    </body>
</html>
