<div class="view mblView" style="background-color: #ffffff;">
    <div id="signinContainer" style="padding-top: 20px">
        <div style="text-align: center" class="annoOrangeColor">
            <div style="font-size: 22pt;font-weight: bold">UserSource</div>
            <img id="imgUserSource" src="../community/css/images/anno96.png" width="120" height="120" alt="">
            <div style="font-size: 13pt;font-weight: bold;">Announce your ideas</div>
        </div>
        <div style="text-align: center;padding-top: 30px">
            <button id="btnSignUp" class="bigGreenBtn" style="width: 206px;height: 48px;">Sign Up</button>
            <!-- <div style="font-size: 13pt;color:#6B6767;padding-top: 10px;padding-bottom: 10px">- OR -</div> -->
            <br/>
            <button id="imgGoogle" class="signinWithGoogleBtn">
                <table>
                    <tr>
                        <td>
                            <span>Sign In with Google</span>
                        </td>
                        <td>
                            <img src="../community/css/images/google_favicon-32.png" alt="">
                        </td>
                    </tr>
                </table>
            </button>
            <br/>
            <button id="imgFacebook" class="signinWithFacebookBtn"
                <table>
                    <tr>
                        <td>
                            <span>Sign In with Facebook</span>
                        </td>
                    </tr>
                </table>
            </button>
        </div>
        <div style="text-align: center" id="btnSigninWithAnno">
            <div style="font-size: 13pt;color: #999999;padding-top: 25px;font-weight: bold;">Sign In with UserSource account</div>
        </div>
    </div>
    <div id="annoSigninContainer" style="text-align: center;background-color: #DDDDDD;display: none">
        <div style="text-align: center" class="annoOrangeColor">
            <table width="100%">
                <tr>
                    <td align="right" width="25%">
                        <img src="../community/css/images/anno96.png" alt="">
                    </td>
                    <td align="left" width="50%" style="padding: 20px;">
                        <div style="font-size: 22pt;font-weight: bold;padding-bottom: 10px;">UserSource</div>
                        <div style="font-size: 13pt;font-weight: bold;">Announce your ideas</div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="signinFormContainer" style="font-weight: bold;width:80%;margin-left: auto;margin-right: auto">
            <form action="signin.html" method="post">
                <div id="signinMessage" style="color: red;text-align: left;padding-left: 4px;padding-bottom: 4px;display: none"></div>
                <div>
	                <input type="email" id="signinEmail" placeholder="Email" required="true" class="signin-input">
	                <input type="password" id="signPwd" placeholder="Password" class="signin-input">
	                <input id="nickNameSigninAnno" readonly="readonly" type="text" placeholder="Display Name" class="signin-input">
	            </div>
                <div style="padding-top: 8px;">
                    <span id="btnFmd" style="color: #999999;padding-top: 26px;">Forgot your details?</span>
                    <button id="btnSubmitAnnoSignin" class="bigGreenBtn" type="button" style="width: 170px;height: 44px;">Done</button>
                </div>
            </form>
        </div>
    </div>
    <div id="pickNickNameContainer" style="margin-top: 30px;display:none;clear: both;width: 80%;margin-left: auto;margin-right: auto">
        <div id="btnBackToSignin" style="color: #999999;font-weight: bold">&lt;&lt; Back to sign-in</div>
        <div style="height: 150px;"></div>
        <div style="color: #000000;font-weight: bold;font-size: 20px;padding-bottom: 20px;padding-left: 10px">Almost there!</div>
		<div style="text-align: center;">
			<input id="nickNameSignin" type="text" placeholder="Name to display in our community" class="signin-input" style="font-weight: bold;">
			<button id="saveNickNameSignIn" class="bigGreenBtn" type="button" style="width: 150px;height: 44px;margin-top: 10px;">Save</button>
		</div>
    </div>
    <div id="serverURLDialog" data-dojo-type="dojox/mobile/SimpleDialog" style="display: none;width: 96%;height2: 116px;padding: 0px;border:2px solid black;border-top-color:black ">
        <div class="menuItem" style="padding-right: 12px;color: #2B78E4;border-bottom: 2px solid #2B78E4">
            Server URL
        </div>
        <div class="menuItem" id="divServerUrlProduction" style="padding-right: 12px;margin-left: 6px;margin-right: 6px;display: none">
            <label for="rdSUProduction" style="float: left">Production</label>
            <input type="radio" value="1" data-dojo-props="labelText:'Production'" checked="true" id="rdSUProduction" name="rdServerURL" style="float: right;margin-top: -7px;" data-dojo-type="dojox/mobile/RadioButton">
        </div>
        <div class="menuItem" id="divServerUrlTest" style="padding-right: 12px;margin-left: 6px;margin-right: 6px;display: none">
            <label for="rdSUTest" style="float: left">Test</label>
            <input type="radio" value="2" data-dojo-props="labelText:'Test'" id="rdSUTest" name="rdServerURL" style="float: right;margin-top: -7px;" data-dojo-type="dojox/mobile/RadioButton">
        </div>
        <div class="menuItem" id="divServerUrlDev" style="padding-right: 12px;margin-left: 6px;margin-right: 6px;display: none">
            <label for="rdSUDev" style="float: left">Dev</label>
            <input type="radio" value="3" data-dojo-props="labelText:'Dev'" id="rdSUDev" name="rdServerURL" style="float: right;margin-top: -7px;" data-dojo-type="dojox/mobile/RadioButton">
        </div>
        <div class="menuItem" id="divServerUrlLocalhost" style="padding-right:12px; margin-left:6px; margin-right:6px; display:none;">
            <label for="rdSULocalhost" style="float:left;">Localhost</label>
            <input type="radio" value="4" data-dojo-props="labelText:'Localhost'" id="rdSULocalhost" name="rdServerURL" style="float:right; margin-top:-7px;" data-dojo-type="dojox/mobile/RadioButton">
        </div>
        <div id="btnCancelServerURL" class="menuItem" style="padding-right: 12px;margin-left: 6px;margin-right: 6px;border-bottom-width: 0px;text-align: center;color: #808080">
            Cancel
        </div>
    </div>
</div>
