<div class="view mblView" style="background-color: white">
    <div data-dojo-type="dojox/mobile/Heading" class="topHeading">
        <span id="navBtnBackCommunity" class="icon-forward" data-dojo-props="back:true" data-dojo-type="dojox.mobile.ToolBarButton"></span>
        <span class="barIcon icon-users barIconHighlight" onclick="history.back()" style="float: left;font-size: 28px;margin-top: 6px;padding-left: 2px;"></span>
        <span id="headerTitleCommunity" class="headingTitle" style="padding-left: 20px;padding-top: 6px"></span>
    </div>
    <div id="listContainerCommunity" style="width: 100%;overflow: auto;">
        <h2 class="mblRoundRectCategory" style="font-size: 13pt;color: #000000">Members</h2>
        <ul id="communityUserList" data-dojo-type="dojox/mobile/RoundRectList"></ul>
        <h2 class="mblRoundRectCategory" style="font-size: 13pt;color: #000000">Welcome message</h2>
        <div id="communityWelMsg" contenteditable="true"></div>
        <div id="btnSaveWelcomeMsgContainer" style="text-align: center;display: none">
            <button class="btn" id="btnSaveWelcomeMsg">Save</button>
            <button class="btn" id="btnCancelWelcomeMsg">Cancel</button>
        </div>
        <div class="mblRoundRectCategory">
            <span id="communityActivity" class="clickableDiv" style="font-size: 13pt;font-weight: normal;"></span>
        </div>

        <div style="height: 30px"></div>
    </div>
    <div id="inviteNewUser" data-dojo-type="dojox/mobile/SimpleDialog" style="display: none;border: 2px solid black;text-align: center;">
		<div style="padding: 4px 0;">Invite New Member</div>
		<div>
			<input type="email" id="invitedEmailAddress" class="commentTextbox" placeholder="Email Address" />
			<input type="text" id="invitedDisplayName" class="commentTextbox" placeholder="Display Name" />
		</div>
		<div style="padding: 4px 0;">
            <button class="btn" id="btnMakeInvite">Invite</button>
            <button class="btn" id="btnCancelInvite">Cancel</button>
        </div>
    </div>
	<div id="newMemberItem" style="display: none;">
		<span class="icon-busy annoOrangeColor" style="font-weight: bold"></span>
		<span id="invitedUserName"></span>
		<span class="icon-bolt annoOrangeColor" style="font-weight: bold;display: none"></span>
	</div>
    <div id="memberDetailContainer" style="display: none;padding-left: 24px;margin-top: 4px;">
        <div>
            <span>Email: </span><span id="memberDetailEmail"></span>
        </div>
        <div>
            <span>Full Name: </span><span id="memberDetailFullName"></span>
        </div>
        <div>
            <span>Status: </span><span id="memberDetailStatus" style="text-transform: capitalize;"></span>
        </div>
        <div>
            <span>Role: </span><span id="memberDetailRole" style="text-transform: capitalize;"></span>
        </div>
        <div style="margin-top: 4px;">
        	<button class="btn" id="btnEditInvitation">Edit</button>
            <button class="btn" id="btnRemoveInvite">Remove</button>
            <button class="btn" id="btnMakeManager">Make Manager</button>
        </div>
    </div>
    <div id="editMemberDetailContainer" style="display: none;padding-left: 32px;">
        <div>
            <span>Email: </span>
            <input type="email" id="editMemberDetailEmail" class="commentTextbox" placeholder="Email Address" />
        </div>
        <div>
            <span>Full Name: </span>
            <input type="text" id="editMemberDetailFullName" class="commentTextbox" placeholder="Display Name" />
        </div>
        <div>
            <button class="btn" id="btnSaveInvite">Save</button>
        </div>
    </div>
</div>
