<div class="view mblView" style="background-color: white">
    <div data-dojo-type="dojox/mobile/Heading" class="topHeading">
        <span id="navBtnBackCommunity" class="icon-forward" data-dojo-props="back:true" data-dojo-type="dojox.mobile.ToolBarButton"></span>
        <span class="barIcon icon-users barIconHighlight" onclick="history.back()" style="float: left;font-size: 28px;margin-top: 6px;padding-left: 2px;"></span>
        <span id="headerTitleCommunity" class="headingTitle" style="padding-left: 20px;padding-top: 6px"></span>
    </div>
    <div id="listContainerCommunity" style="width: 100%;overflow: auto;">
        <h2 class="mblRoundRectCategory" style="font-size: 13pt;color: #000000">Members</h2>
        <ul id="communityUserList" data-dojo-type="dojox/mobile/RoundRectList"></ul>
        <h2 class="mblRoundRectCategory" style="font-size: 13pt;color: #000000">Welcome message</h2>
        <div id="communityWelMsg" contenteditable="true" style="margin: 7px 9px 4px;padding: 6px 6px 6px 6px;border: 2px solid #adaaad;border-radius: 8px;"></div>
        <div id="btnSaveWelcomeMsgContainer" style="text-align: center;display: none">
            <button class="btn" id="btnSaveWelcomeMsg">Save</button>
            <button class="btn" id="btnCancelWelcomeMsg">Cancel</button>
        </div>
        <div class="mblRoundRectCategory">
            <span id="communityActivity" style="font-size: 13pt;color: blue;text-decoration: underline;font-weight: normal;"></span>
        </div>

        <div style="height: 30px"></div>
    </div>
    <div id="memberDetailContainer" style="display: none;padding-left: 32px;">
        <div>
            <span>Email: </span><span id="memberDetailEmail"></span>
        </div>
        <div>
            <span>Full name: </span><span id="memberDetailFullName"></span>
        </div>
        <div>
            <span>Status: </span><span id="memberDetailStatus"></span>
        </div>
        <div>
            <span>Role: </span><span id="memberDetailRole"></span>
        </div>
        <div>
            <button class="btn" id="btnRemoveInvite">Remove</button>
            <button class="btn" id="btnMakeManager">Make Manager</button>
        </div>
    </div>
</div>
