<div id="detailView" class="view mblView" style="overflow-x: hidden;">
    <script type="dojo/require">at: "dojox/mvc/at"</script>
	<div id="zoomScreenshotContainerDetail" style="display: none;">
		<div id="zoomClose">Close X</div>
		<table width="100%" height="100%" cellspacing="0" cellpadding="0">
			<tr>
				<td>
					<div style="position: relative;">
						<img id="zoomImgDetailScreenshot" />
						<div id="zoomGfxCanvasContainer" style="display: none;position: absolute;"></div>
					</div>
				</td>
			</tr>
		</table>
	</div>
    <div id="headingDetail" style="" data-dojo-type="dojox/mobile/Heading">
    	<div id="navBtnTdBackScreenshot" style="display: inline-block;">
    		<span id="navBtnBackScreenshot" class="icon-forward navBtnBack" data-dojo-type="dojox.mobile.ToolBarButton"></span>
    		<div id="navBtnBackScreenshotPlugin" style="display: none;width: 37px; vertical-align: middle;"></div>
            <div id="detailPageName">Explore</div>
    	</div>
    	<div style="display: inline-block;float: right;">
    		<div id="navBtnPrevious"></div>
    		<img id="navBtnScreenshot" src="css/images/anno.png">
    		<span id="navBtnTray" class="icon-bubbles barIconDisabled" style="width: 83.33%;height: 32px;font-size: 28px;vertical-align: middle;"></span>
    		<div id="navBtnNext"></div>
    	</div>
    </div>
    <div id="detailContentContainer" style="margin-top: 48px;" class="smooth_scroll">
    	<div id="detailContentContainer_middle" style="width: 100%;height: 100%;overflow: scroll;-webkit-transition: all 500ms ease;" class="smooth_scroll">
	        <div id="mvcGroupDetail" data-dojo-type="dojox/mvc/Group"
	             data-dojo-props="target: at(this.loadedModels.events, 'cursor')">
	             <div id="AnnoScreenshot">
		            <!-- <div style="height: 6px"></div> -->
		            <div id="screenshotContainerDetail" style="margin-left: auto;margin-right: auto;position: relative;">
		                <img id="imgDetailScreenshot" class="imgDetailScreenshot" style="background-color: #c5ccd3;width: 100%;height: 100%;" />
		                <div id="gfxCanvasContainer" class="gfxCanvasContainer" style="width: 500px; height: 500px;display: none;top: 50px"></div>
		            </div>
		            <div style="padding: 0 20px">
		                <table id="tbl_screenshotControls" width="100%" height="50">
		                    <tr>
		                        <td id="td_shtCtrl_hideAnnotations">
		                            <div class="clickableDiv">Hide Annotations</div>
		                        </td>
		                        <td id="td_shtCtrl_edit" width="70" align="right" style="display: none;">
		                            <span class="icon-pencil" style="width: 60px;height: 32px;padding-left: 10px;font-size: 25px;"></span>
		                        </td>
		                        <td id="td_shtCtrl_remove" width="70" align="right" style="display: none;">
		                            <span class="icon-remove" style="width: 60px;height: 32px;padding-left: 10px;font-size: 25px;"></span>
		                        </td>
		                    </tr>
		                </table>
		            </div>
		        </div>
	            <div id="AnnoDetails">
					<div id="AnnoScreenshotLoading" style="padding: 5px 0 10px 0;text-align: center;">Loading Image...</div>
		            <div id="textDataAreaContainer" style="-webkit-transition: all 500ms ease;" class="textDataAreaContainer">
		                <div id="appNameContainer" class="appNameDetail" style="padding-bottom: 15px;">
		                	<span class="appNameTitleDetail">About:</span>
		                	<span id="appNameSpanDetail" class="clickableDiv" data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at('rel:', 'app')"></span>
		                	<span data-dojo-type="dojox/mvc/Output" style="padding-left: 2px" data-dojo-props="value: at('rel:', 'appVersion')"></span>
		                	<img id="editAppNameImg" style="display: none" src="css/images/content_edit.png" width="24">
		                </div>
		                <div id="annoCommentsContainer" style="width: 100%;overflow-y: auto;overflow-x:hidden; ">
		                    <div id="deviceInfoContainer" style="padding-bottom: 15px">
		                    	<div id="mobileIcon"></div>
		                    	<div class="deviceInfoDetail" data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at('rel:', 'deviceInfo')" style="display: inline-block;"></div>
		                    </div>
		                    <div style="padding-bottom: 15px">
		                    	<div id="defaultAuthorImage" class="icon-user personImg" style="display: inline-block;"></div>
		                    	<img id="authorImage" data-dojo-type="dojox/mvc/Output" data-dojo-props="src: at('rel:', 'author_image_url')" style="display: none;" />
		                    	<div class="authorDetail" data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at('rel:', 'author')" style="display: inline-block;vertical-align: top;line-height: 24px;"></div>
		                    	<div class="authorDetail" data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at('rel:', 'created')" style="float: right;display: inline-block;vertical-align: top;line-height: 24px;"></div>
		                    </div>
		                    <div id="annoTextDetail" class="annoTextDetail" data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at('rel:', 'hashTaggedAnnoText')"></div>
		                    <div id="voteFlagContainer">
		                    	<div id="imgThumbsUp" class="icoImgDeactive">
		                    		<div class="icon-thumbs-up" style="font-size: 30px;"></div>
		                    		<div style="padding-top: 5px; font-size: 14px;">Upvote</div>
		                    	</div>
		                    	<div id="imgFlag" class="icoImgDeactive">
		                    		<div class="icon-flag" style="font-size: 30px;"></div>
		                    		<div style="padding-top: 5px; font-size: 14px;">Inappropriate</div>
		                    	</div>
		                    	<!-- <div id="imgSocialSharing" class="icoImgDeactive">
		                    		<div class="icon-share" style="font-size: 30px;"></div>
		                    		<div style="padding-top: 5px; font-size: 14px;">Share</div>
		                    	</div> -->
		                    </div>
		                    <div id="annoCommentsSet" class="fieldset"
		                         data-dojo-type="dojox/mvc/Repeat"
		                         data-dojo-props="exprchar: '*', children: at('rel:', 'comments')"
		                         style="padding-top: 15px;">
		                        <div style="padding-bottom: 8px;">
			                        <div>
			                        	<span class="icon-user personImg" data-dojo-type="dojox/mvc/Output" data-dojo-props="class: at('rel:*{this.index}', 'default_commenter_image')"></span>
			                        	<img class="commenterImage" data-dojo-type="dojox/mvc/Output" data-dojo-props="src: at('rel:*{this.index}', 'user_image'), class: at('rel:*{this.index}', 'commenter_image')" />
			                        	<span class="authorDetail" data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at('rel:*{this.index}', 'user_id')" style="vertical-align: top;line-height: 24px;"></span>
			                        	<span class="authorDetail" data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at('rel:*{this.index}', 'timestamp')" style="vertical-align: top;line-height: 24px;float: right;"></span>
			                        </div>
			                        <div class="commentDetail" style="font-size: 14px;">
			                            <div data-dojo-type="dojox/mvc/Output" style="width: 100%" data-dojo-props="value: at('rel:*{this.index}', 'modifiedComment')"></div>
			                        </div>
		                        </div>
		                    </div>
		                </div>
		                <div id="trayPlaceHolder" style="width: 100%;height: 0px;background-color: #ffffff"></div>
		                <div id="trayBottomBar" style="height: 29px;background-color: #333333;display: none">
		                    <table width="100%">
		                        <tr>
		                            <td align="center" valign="middle" height="30">
		                                <div id="trayBottomBarSpin" style="width: 98%;height: 3px;background-color: gray"></div>
		                            </td>
		                        </tr>
		                    </table>
		                </div>
		            </div>
		            <div id="detailBottomPlaceholder" style="height: 100px;"></div>
		    	</div>
	        </div>
		</div>
    </div>
    <div id="addCommentContainer" style="display: none;">
    	<div id="detailSuggestedTags" style="display: none;"></div>
    	<div id="childCommentContainer" style="padding: 8px 0 4px 0;">
    		<textarea type="text" id="addCommentTextBox" class="commentTextbox" rows="1" placeholder="Add a comment"></textarea>
    		<div id="sendComment">Send</div>
    	</div>
    </div>
    <canvas id="backgroundCanvas" style="display: none"></canvas>
</div>
