<div id="detailView" class="view mblView" style="overflow-x: hidden;">
    <script type="dojo/require">at: "dojox/mvc/at"</script>
    <div id="headingDetail" style="position:fixed;top:0px;left:0px;background-color: #000000;z-index: 9000;color:white;height: 50px" data-dojo-type="dojox/mobile/Heading">
        <table width="100%" height="100%">
            <tr>
                <td width="120" onclick="history.back();" align="left">
                    <span id="navBtnBackScreenshot" class="icon-forward" data-dojo-props="back:true" data-dojo-type="dojox.mobile.ToolBarButton"></span>
                    <span id="detailPageName" style="line-height: 40px;float: left;">Explore</span>
                </td>
                <td align="right" width="85%">
                    <table>
                        <tr>
                            <td id="tdNavBtnPrevious" width="80" align="center">
                                <span id="navBtnPrevious" class="icon-arrow-left navBtnDisabled" style="width: 60px;height: 32px;float: left;padding-left: 20px;font-size: 25px;"></span>
                            </td>
                            <td id="tdNavBtnScreenshot" width="80" align="center">
                                <img id="navBtnScreenshot" src="css/images/anno.png" width="36px">
                            </td>
                            <td id="tdNavBtnTray" width="80" align="center">
                                <span id="navBtnTray" class="icon-bubbles barIconDisabled" style="width: 50px;height: 32px;padding-top: 10px;font-size: 28px;"></span>
                            </td>
                            <td id="tdNavBtnNext" width="80" align="center">
                                <span id="navBtnNext" class="icon-arrow-right" style="width: 60px;height: 30px;float: right;padding-right: 20px;font-size: 25px;"></span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </div>
    <div id="detailContentContainer" style="margin-top: 50px;-webkit-transition: all 500ms ease;">
        <div id="mvcGroupDetail" data-dojo-type="dojox/mvc/Group"
             data-dojo-props="target: at(this.loadedModels.events, 'cursor')">
            <div id="screenshotContainerDetail" >
                <img id="imgDetailScreenshot" class="imgDetailScreenshot" style="background-color: #c5ccd3;width: 100%;height: 100%" width="100%" height="100%" />
                <div id="gfxCanvasContainer" class="gfxCanvasContainer" style="width: 500px; height: 500px;display: none;top: 50px"></div>
            </div>
            <div style="padding-top: 10px;">
                <table id="tbl_screenshotControls" width="90%">
                    <tr>
                        <td id="td_shtCtrl_hideAnnotations" style="padding-left: 20px">
                            <div style="color: blue;text-decoration: underline">hide annotations</div>
                        </td>
                        <td id="td_shtCtrl_edit" width="80" align="center" style="display: none;">
                            <span class="icon-pencil" style="width: 60px;height: 32px;padding-left: 20px;font-size: 25px;"></span>
                        </td>
                        <td id="td_shtCtrl_remove" width="80" align="center" style="display: none;">
                            <span class="icon-trashcan" style="width: 60px;height: 32px;padding-left: 20px;font-size: 25px;"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="textDataAreaContainer" style="-webkit-transition: all 500ms ease;" class="textDataAreaContainer">
                <div id="appNameContainer" class="appNameDetail" style="padding-left: 6px;">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td valign="middle"><span class="appNameTitleDetail">About:</span></td>
                            <td valign="middle">
                                <span id="appNameSpanDetail" data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at('rel:', 'app')"></span>
                            </td>
                            <td valign="middle"><img id="editAppNameImg" style="display: none" src="css/images/content_edit.png" width="24"></td>
                        </tr>
                    </table>
                </div>
                <div id="annoCommentsContainer" style="padding-left: 6px;width: 100%;overflow-y: auto;overflow-x:hidden; ">
                    <div id="deviceInfoContainer" style="padding-bottom: 8px">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="52" align="center">
                                    <span class="icon-mobile personImg"></span>
                                </td>
                                <td valign="middle">
                                    <div class="deviceInfoDetail" data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at('rel:', 'deviceInfo')"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div style="padding-bottom: 4px">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td height="32" width="52" align="center">
                                    <span class="icon-user personImg"></span>
                                </td>
                                <td align="left"><span class="authorDetail" data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at('rel:', 'author')"></span></td>
                                <td align="right" style="padding-right: 28px;"><span class="authorDetail" data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at('rel:', 'created')"></span></td>
                            </tr>
                        </table>
                    </div>
                    <div id="annoTextDetail" class="annoTextDetail" data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at('rel:', 'annoText')"></div>
                    <div id="voteFlagContainer" style="padding-bottom: 8px;padding-top: 4px;margin-bottom: 8px;margin-left: 14px;margin-right: 4px;border-bottom: 1px solid #cccccc">
                        <table width="100%"  cellpadding="0" cellspacing="0" style="padding-top: 4px;">
                            <tr>
                                <td width="33%" align="center">
                                    <span id="imgThumbsUp" class="icon-thumbs-up icoImgDeactive"></span>
                                </td>
                                <td width="33%" align="center">
                                    <span id="imgFlag" class="icon-flag icoImgDeactive"></span>
                                </td>
                                <td width="33%" align="center">
                                    <span id="imgSocialSharing" class="icon-share" style="font-weight: bold;color: #000000;font-size: 30px;"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="annoCommentsSet" class="fieldset"
                         data-dojo-type="dojox/mvc/Repeat"
                         data-dojo-props="exprchar: '*', children: at('rel:', 'comments')">
                        <div>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td height="32" width="52" align="center">
                                        <span class="icon-user personImg"></span>
                                    </td>
                                    <td align="left">
                                        <span class="authorDetail" data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at('rel:*{this.index}', 'user_id')"></span><span class="authorDetail">&nbsp;commented</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="commentDetail">
                            <div data-dojo-type="dojox/mvc/Output" style="width: 96%" data-dojo-props="value: at('rel:*{this.index}', 'comment')"></div>
                        </div>
                    </div>

                </div>

                <div id="trayPlaceHolder" style="width: 100%;height: 0px;background-color: #ffffff"></div>
                <div id="trayBottomBar" style="height: 29px;background-color: #333333;display: none">
                    <table width="100%">
                        <tr>
                            <td align="center" valign="middle" height="30">
                                <div id="trayBottomBarSpin" style="width: 98%;height: 3px;background-color: gray"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="detailBottomPlaceholder" style="height: 100px"></div>
            <div id="addCommentContainer" style="display:none;padding-left: 6px;border-top: 2px solid #aeebfc;width: 100%;background-color: #ffffff;position: fixed;bottom: 0px">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <div class="noJump"></div>
                            <textarea type="text" id="addCommentTextBox" class="commentTextbox" rows="1" style="width: 100%" placeholder="Add a comment"></textarea>
                        </td>
                        <td id="tdAddCommentImg" width="40"><img id="addCommentImg" width="40" src="css/images/addcomment.png"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <canvas id="backgroundCanvas" style="display: none"></canvas>
</div>
