<div class="view mblView" style="background-color: white">
    <div id="headingMyStuff" data-dojo-type="dojox/mobile/Heading" class="topHeading" style="text-align: center">
    	<div id="divBtnBackMyStuff" style="position: absolute;">
    		<span id="navBtnBackMyStuff" class="icon-forward navBtnBack" data-dojo-type="dojox.mobile.ToolBarButton"></span>
        	<span id="iconBackMyStuff" class="barIcon icon-stack3 barIconHighlight" style="float: left;font-size: 28px;line-height: inherit;"></span>
    	</div>
    	<div id="divBtnBackMyStuffPlugin" style="display: none; position: absolute;">
    		<div id="navBtnBackMyStuffPlugin" style="width: 55px;"></div>
    	</div>
        <span id="myActivityText">My Activity</span>
    </div>
    <div id="listContainerMyStuff" style="width: 100%;overflow: auto" class="smooth_scroll">
    	<div id="listContainerMyStuff_middle" style="width: 100%;height: 100%;overflow: scroll;" class="smooth_scroll">
    		<div id="listContainerMyStuff_inner">
		        <ul id="annoListMyStuff" data-dojo-type="dojox/mobile/EdgeToEdgeList">
					<div class="fieldset"
		                 data-dojo-type="dojox/mvc/Repeat"
		                 data-dojo-props="exprchar: '#', children: this.loadedModels.mystuff.model">
		                <li class="row #{this.ref[this.index].readStatusClass}"
		                    data-dojo-type="dojox/mobile/ListItem"
		                    data-dojo-props="transition:'slide',variableHeight:true,clickable:true,noArrow:true,_index:'#{this.index}',transitionOptions:{target:'detail',url:'#detail',params:{cursor:'#{this.index}', source:'mystuff'}},onClick:annoMyStuffRead"
		                    style="padding: 6px;">
		                    <div class="infoContainer">
							    <table style="width: 100%;table-layout: fixed;">
							        <tr>
							            <td width="40" align="center">
							                <span class="annoListItemIcon" data-dojo-props="class: at('rel:#{this.index}', 'annoIcon')" data-dojo-type="dojox/mvc/Output"></span>
							                <img class="appIconImage" style="width: 40px;height: 40px;border-radius: 8px;" data-dojo-type="dojox/mvc/Output" data-dojo-props="src: at('rel:#{this.index}', 'app_icon_url'), class: at('rel:#{this.index}', 'appIconClass')" />
							                <span data-dojo-props="class: at('rel:#{this.index}', 'userProfile')" data-dojo-type="dojox/mvc/Output" class="icon-user defaultUserImage"></span>
		                                    <img class="userProfileImage" data-dojo-type="dojox/mvc/Output" data-dojo-props="src: at('rel:#{this.index}', 'last_activity_user_image_url'), class: at('rel:#{this.index}', 'userProfileClass')" />
							            </td>
							            <td width="95%" style="padding-left: 4px;font-size: 14px;">
							                <div class="listTitle" data-dojo-type="dojox/mvc/Output"
												data-dojo-props="value: at('rel:#{this.index}', 'annoText')"></div>
							                <div class="activityTypeAndTime" style="padding-top: 2px;">
							                    <div class="listAppName" style="float: left;width: 50%">
							                        <span id="annoActIndicator_#{this.index}" class="annoOrangeColor annoActIndicator" data-dojo-type="dojox/mvc/Output"
														data-dojo-props="class: at('rel:#{this.index}', 'lastActivityClass')" ></span>
							                        <span id="annoActText_#{this.index}" class="annoActText" data-dojo-type="dojox/mvc/Output"
														data-dojo-props="value: at('rel:#{this.index}', 'lastActivityText')"></span>
							                    </div>
							                    <div id="annoActWhen_#{this.index}" class="annoOrangeColor annoActWhen" style="float: left;width: 50%;text-align: right"
													data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at('rel:#{this.index}', 'when')"></div>
							                </div>
							                <div class="appNameAndAuthor">
							                    <div class="listAppName" style="float: left;width: 50%" data-dojo-type="dojox/mvc/Output"
													data-dojo-props="value: at('rel:#{this.index}', 'app')"></div>
							                    <div class="listAuthor" style="float: left;width: 50%;text-align: right" data-dojo-type="dojox/mvc/Output"
													data-dojo-props="value: at('rel:#{this.index}', 'author')"></div>
							                </div>
							                <div class="pluginInfoText" style="display: none;">
							                	<span id="pluginAnnoActText_#{this.index}" style="text-transform: capitalize;"
							                		data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at('rel:#{this.index}', 'lastActivityText')"></span>
												<span> by </span>
												<div id="pluginAnnoActUser_#{this.index}" style="display: inline-block;" class="annoOrangeColor"
													data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at('rel:#{this.index}', 'last_activity_user')"></div>
												<div style="display: inline-block; float: right;" id="pluginAnnoActWhen_#{this.index}"
													data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at('rel:#{this.index}', 'when')"></div>
							                </div>
							            </td>
							        </tr>
							    </table>
							</div>
		                </li>
		            </div>
		        </ul>
			</div>
		</div>
    </div>
	<div id="learnHowContainer" style="display:none;">
		<table width="100%" height="100%" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
			<tr>
				<td>
					<div style="padding: 10px;">You haven’t created or discussed any items yet. Try discussing or voting on some existing items, which you can find in the Feed or using Search. Make your own comments on apps and other things. To learn how, view the Intro under the settings menu.</div>
					<button id="btnLearnHow" class="btn">Learn How!</button>
				</td>
			</tr>
		</table>
	</div>
</div>
