<div class="view mblView" style="background-color: white">
    <div id="headingProfile" data-dojo-type="dojox/mobile/Heading" class="topHeading">
        <span id="navBtnBackProfile" class="icon-forward" data-dojo-props="back:true" data-dojo-type="dojox.mobile.ToolBarButton"></span>
        <span class="barIcon icon-board barIconHighlight" onclick="history.back()" style="float: left;font-size: 28px;margin-top: 6px;padding-left: 2px;"></span>
        <span id="headerTitleProfile" class="headingTitle" style="padding-left: 20px;padding-top: 6px">My Profile</span>
    </div>
    <div id="listContainerProfile" style="width: 100%;overflow: auto;">
        <ul data-dojo-type="dojox/mobile/RoundRectList">
            <li class="row"
                data-dojo-type="dojox/mobile/ListItem"
                data-dojo-props="variableHeight:true,clickable:true,noArrow:true,_duration:0">
                <div>Email</div>
                <div id="profileEmail" class="listAppName" style="padding-left: 12px;padding-top: 2px"></div>
            </li>
            <li class="row"
                data-dojo-type="dojox/mobile/ListItem"
                data-dojo-props="variableHeight:true,clickable:true,noArrow:true,_duration:0">
                <div>Display Name</div>
                <div id="profileDisplayName" style="padding-left: 12px;padding-top: 2px"></div>
            </li>
        </ul>
        <h2 id="communityListTitle" class="mblRoundRectCategory" style="font-size: 13pt;color: #000000;display: none">Communities</h2>
        <ul id="communityList" data-dojo-type="dojox/mobile/RoundRectList" style="display: none"></ul>
        <ul data-dojo-type="dojox/mobile/RoundRectList">
            <li id="profileItemChangePassword" class="row annoOrangeColor" style="text-align:center;padding-left: 16px;"
                data-dojo-type="dojox/mobile/ListItem"
                data-dojo-props="variableHeight:true,clickable:true,noArrow:true">
                <div>Change Password</div>
            </li>
            <li id="profileItemSignOut" class="row annoOrangeColor" style="text-align:center;padding-left: 16px;"
                data-dojo-type="dojox/mobile/ListItem"
                data-dojo-props="variableHeight:true,clickable:true,noArrow:true">
                <div>Sign-out</div>
            </li>
        </ul>
    </div>
    <div id="changePwdDialog" data-dojo-type="dojox/mobile/SimpleDialog" style="display:none; width:96%; height2:60px; padding:0px; border:2px solid black; border-top-color:black ">
        <div class="menuItem" style="padding-right: 12px;color: #2B78E4;border-bottom: 2px solid #2B78E4">
            Change Password
        </div>
        <div class="menuItem" style="padding-right: 0px;padding-left:0px;padding-top: 0px;height:34px;margin-left: 0px;margin-right: 0px">
            <input type="password" id="txt_changePwd" placeholder="at least 6 characters" class="signin-input" style="font-weight: bold;">
        </div>
        <div class="menuItem" style="padding-right: 12px;margin-left: 60px;margin-right: 60px;border-bottom-width: 0px;text-align: center;color: #808080">
            <div id="btnDoneChangePwd" style="float: left;width: 80px;">Done</div>
            <div id="btnCancelChangePwd" style="float: right;width: 80px">Cancel</div>
        </div>
    </div>
</div>
