<div class="view mblView" style="background-color: white">
    <div id="headingSearchAnno" data-dojo-type="dojox/mobile/Heading" class="topHeading">
        <span id="navBtnBackSearchAnno" class="icon-forward" data-dojo-props="back:true" data-dojo-type="dojox.mobile.ToolBarButton"></span>
        <span class="barIcon icon-search barIconHighlight" style="float: left;font-size: 28px;margin-top: 6px;" onclick="history.back()"></span>
        <span id="headerTitleSearchAnno" class="headingTitle" style="padding-left: 20px;padding-top: 6px;">Search</span>
    </div>
    <div id="noResultContainer_search" style="display:none;text-align: center;margin-top: 20px;color: #D37011">
        <div>No items matched your search.</div>
    </div>
    <div id="listContainerSearch" style="width: 100%;overflow: auto">
        <ul data-dojo-type="dojox/mobile/EdgeToEdgeList">
            <div class="fieldset"
                 data-dojo-type="dojox/mvc/Repeat"
                 data-dojo-props="exprchar: '#', children: this.loadedModels.searchAnno.model">
                <li class="row"
                    data-dojo-type="dojox/mobile/ListItem"
                    data-dojo-props="transition:'slide',variableHeight:true,clickable:true,noArrow:true,transitionOptions:{target:'detail',url:'#detail',params:{cursor:'#{this.index}',source:'tagSearch'}}">
                    <div class="infoContainer">
                        <table style="width: 100%;table-layout: fixed;">
                            <tr>
                                <td width="36">
                                    <span data-dojo-props="class: at('rel:#{this.index}', 'annoIcon')" data-dojo-type="dojox/mvc/Output" class="annoListItemIcon"></span>
                                </td>
                                <td width="95%">
                                    <table style="width: 100%;table-layout: fixed;">
                                        <tr>
                                            <td style="width: 85%;text-align: left">
                                                <div class="listTitle" data-dojo-type="dojox/mvc/Output"
                                                     data-dojo-props="value: at('rel:#{this.index}', 'annoText')"></div>
                                            </td>
                                            <td style="width: 122px;text-align: right">
                                                <div class="listAuthor" data-dojo-type="dojox/mvc/Output"
                                                     data-dojo-props="value: at('rel:#{this.index}', 'created')"></div>
                                            </td>
                                        </tr>
                                    </table>
                                    <table style="width: 100%">
                                        <tr>
                                            <td style="width: 60%;text-align: left">
                                                <div class="listAppName" data-dojo-type="dojox/mvc/Output"
                                                     data-dojo-props="value: at('rel:#{this.index}', 'app')"></div>
                                            </td>
                                            <td style="width: 40%;text-align: right">
                                                <div class="listAuthor" data-dojo-type="dojox/mvc/Output"
                                                     data-dojo-props="value: at('rel:#{this.index}', 'author')"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="25" valign="top">
                                    <div class="mblListItemRightIcon">
                                        <div class="mblDomButtonArrow mblDomButton">
                                            <div></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
            </div>

        </ul>
    </div>

</div>
