<div id="manage" ng-controller="Account" ng-init="initManage();">
    <div class="header row" ng-include="'/dashboard/partials/header.html'"></div>
    <div id="manage-inner">
        <div style="width: 100%;height: 100%;padding: 0;position: absolute;right: 0;overflow-y: auto;">
            <div style="font-weight: 600;padding: 20px 0 20px 20px;border-bottom: 1px solid #C4CFD7;font-size: 16px;">Team Details - {{community_detail.community_name}}</div>
            <div class="community-detail-row">
                <div style="font-weight: 600;">
                    <img width="12px" height="15px" src="/dashboard/images/icon_key.png" style="margin-right: 6px;">
                    <span style="vertical-align: middle;font-size: 16px;">Team Key</span>
                </div>
                <div style="margin-top: 10px;padding-bottom: 20px;">{{community_detail.team_key}}</div>
            </div>
            <div class="community-detail-row">
                <div style="font-weight: 600;">
                    <img width="12px" height="15px" src="/dashboard/images/icon_password.png" style="margin-right: 6px;">
                    <span style="vertical-align: middle;font-size: 16px;">Team Secret</span>
                </div>
                <div style="margin-top: 10px;padding-bottom: 20px;">{{community_detail.team_secret}}</div>
            </div>
            <!-- <div class="community-detail-row" style="  margin: 0;padding: 0 20px;">
                <div style="font-weight: 600;">
                    <img width="14px" height="14px" src="/dashboard/images/icon_globe.png" style="margin-right: 6px;">
                    <span style="vertical-align: middle;font-size: 16px;">Dashboard URL</span>
                </div>
                <a class="dashboard-url" ng-href="{{getDashboardURL(community_detail.community_name, community_detail.team_hash);}}" target="_blank">{{getDashboardURL(community_detail.community_name, community_detail.team_hash);}}</a>
            </div> -->
        </div>
    </div>
</div>
