<div id="header" ng-controller="Header" ng-init="initHeader();">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <a id="header_title" href="http://usersource.io">UserSource</a>
        <img width="50px" height="50px" style="border-radius: 12px;margin-left: 7.5%;vertical-align: top;margin-top: 12px;" ng-src="{{appInfo.icon_url && appInfo.icon_url || '/dashboard/images/icon_mobile.png'}}">
        <div id="appname" class="active">{{::appInfo.name}}</div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="text-align: right;">
        <div class="header-tab" ng-class="{'active':(currentSection === 'feed')}" ng-click="selectSection('feed');">Feed</div>
        <!-- <div class="header-tab">Stats</div> -->
        <div class="header-tab" ng-class="{'active':(currentSection === 'account')}" ng-click="selectSection('account');">Account</div>
        <div class="header-tab" ng-class="{'active':(currentSection === 'members')}" ng-click="selectSection('members');">Members</div>
        <div class="header-tab" ng-class="{'active':(currentSection === 'guide')}" ng-click="selectSection('guide');">Guide</div>
        <div id="user_info" style="display: inline-block;" ng-click="signoutButtonClicked();">
            <img width="45px" height="45px" style="border-radius: 25px;vertical-align: top;margin-top: 9px;" ng-src="{{::image_url && image_url || '/dashboard/images/icon_no-user.png'}}">
            <div id="loggedin_user_info">
                <div style="font-size: 18px;" class="active">{{::display_name}}</div>
                <div style="font-size: 14px;">{{::email}}</div>
            </div>
            <div id="logout_arrow" ng-class="{'signout-arrow-clicked' : signoutArrowValue}"></div>
        </div>
    </div>
    <div id="logout_button" ng-style="{display: showSignoutButton}" ng-click="signoutDashboard();">
        <div id="logout_button_icon"></div>
        <span id="logout_button_text" style="vertical-align: middle; margin-left: 8px;">Sign out</span>
    </div>
</div>
