<div id="header" ng-controller="Header" ng-init="initHeader();">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <a id="header_title" href="http://usersource.io">UserSource</a>
        <div id="change_projects" style="display: inline-block;" class="btn-group" dropdown is-open="status.isopen">
            <div dropdown-toggle>
                <img width="30px" height="30px" style="border-radius: 25px;vertical-align: top; margin: 7px 5px 5px 5px;" ng-src="{{appInfo.icon_url && appInfo.icon_url || '/dashboard/images/icon_mobile.png'}}">
                
                <div id="project_name">
                    <div style="font-size: 18px;">{{::appInfo.name}}</div>
                </div>
                <div class="r">
                    <div id="change_project_arrow">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </div>
                </div>
            </div>
            <ul id="projects_dropdown" class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="single-button" ng-model="projectValue" ng-change="change_project();">
                <li id="projects_list" role="menuitem" ng-selected="{{$index == 0}}" ng-repeat="account in accounts" value="{{$index}}"><a id="projects_dropdown_item" href="#" ng-click="change_project(account);">{{account.team_name}}</a>
                </li>

                <!-- 
                    <li id="projects_list" role="menuitem">
                        <div id="add_new_project_button">
                            <span class="glyphicon glyphicon-plus"></span>
                            <a  href="#" style="color:white">New Project</a>
                        </div>
                    </li> -->
                
                <div id="add_new_project" ng-click="add_project();" align="center">   
                    <li id="projects_list" role="menuitem">
                        <div id="add_new_project_button">
                            <span class="glyphicon glyphicon-plus"></span>
                            <a  href="#" style="color:white">New Project</a>
                        </div>
                    </li>
                </div>
            </ul>
        </div>

    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="text-align: right;">
        <div class="header-tab" ng-class="{'active':(currentSection === 'feed')}" ng-click="selectSection('feed');">Feed</div>
        <!-- <div class="header-tab">Stats</div> -->
        <div class="header-tab" ng-class="{'active':(currentSection === 'account')}" ng-click="selectSection('account');">Account</div>
        <div class="header-tab" ng-class="{'active':(currentSection === 'members')}" ng-click="selectSection('members');">Members</div>
        <div class="header-tab" ng-class="{'active':(currentSection === 'guide')}" ng-click="selectSection('guide');">Guide</div>
        
        <div id="user_info" style="display: inline-block;" ng-click="signoutButtonClicked();">
            <img width="45px" height="45px" style="border-radius: 25px;vertical-align: top;margin-top: 9px;" ng-src="{{::image_url && image_url || '/dashboard/images/icon_no-user.png'}}">
            <div id="loggedin_user_info">
                <div style="font-size: 18px;" class="active">{{::display_name}}</div>
                <div style="font-size: 14px;">{{::email}}</div>
            </div>
            <div id="logout_arrow" ng-class="{'signout-arrow-clicked' : signoutArrowValue}"></div>
        </div>
    </div>
    <div id="logout_button" ng-style="{display: showSignoutButton}" ng-click="signoutDashboard();">
        <div id="logout_button_icon"></div>
        <span id="logout_button_text" style="vertical-align: middle; margin-left: 8px;">Sign out</span>
    </div>
</div>