<div id="manage" ng-controller="Manage" ng-init="initManage();">
    <div class="header row" ng-include="'/dashboard/partials/header.html'"></div>
    <div id="manage-inner">
        <div style="width: 100%;height: 100%;padding: 0;position: absolute;right: 0;overflow-y: auto;">
            <div style="font-weight: 600;padding: 20px 0 20px 20px;border-bottom: 1px solid #C4CFD7;font-size: 16px;">Team Details - {{community_detail.community_name}}</div>
            <div class="community-detail-row">
                <div style="font-weight: 600;">
                    <img width="12px" height="15px" src="/dashboard/images/icon_key.png" style="margin-right: 6px;">
                    <span style="vertical-align: middle;font-size: 16px;">Team Key</span>
                </div>
                <div style="margin-top: 10px;padding-bottom: 20px;">{{community_detail.team_key}}</div>
            </div>
            <div class="community-detail-row">
                <div style="font-weight: 600;">
                    <img width="12px" height="15px" src="/dashboard/images/icon_password.png" style="margin-right: 6px;">
                    <span style="vertical-align: middle;font-size: 16px;">Team Secret</span>
                </div>
                <div style="margin-top: 10px;padding-bottom: 20px;">{{community_detail.team_secret}}</div>
            </div>
            <div class="community-detail-row" style="  margin: 0;padding: 0 20px;">
                <div style="font-weight: 600;">
                    <img width="14px" height="14px" src="/dashboard/images/icon_globe.png" style="margin-right: 6px;">
                    <span style="vertical-align: middle;font-size: 16px;">Dashboard URL</span>
                </div>
                <a class="dashboard-url" ng-href="{{getDashboardURL(community_detail.community_name, community_detail.team_hash);}}" target="_blank">{{getDashboardURL(community_detail.community_name, community_detail.team_hash);}}</a>
            </div>
            <div style="height: auto;margin: 20px;position: relative;">
                <div style="font-weight: 600;">
                    <img width="16px" height="16px" src="/dashboard/images/icon_mentions.png" style="margin-right: 6px;">
                    <span style="vertical-align: middle;font-size: 16px;">{{community_detail.users.length}} Member{{community_detail.users.length !== 1 && "s" || ""}}</span>
                    <div class="admin-button" style="position: absolute;right: 0px;top: 0px;" ng-click="showAddUserScreen(true);">Add User</div>
                </div>
                <div ng-repeat="user in community_detail.users | orderBy:'role'" class="user">
                    <div style="margin-bottom: 20px;">
                        <img style="width: 35px;height: 35px;border-radius: 18px;margin: 0;" ng-src="{{user.image_url && user.image_url || '/dashboard/images/icon_no-user.png'}}">
                        <div style="display: inline-block;vertical-align: middle;margin-left: 8px;">
                            <div style="font-weight: 600; color: #1b96c9;">{{user.display_name}}</div>
                            <div style="color: #9399A5;font-size: 13px;">{{user.user_email}}</div>
                        </div>
                    </div>
                    <div style="display: inline-block;">
                        <span style="font-weight: bold;">Password Present:</span>
                        <span>{{user.password_present && 'Yes' || 'No'}}</span>
                    </div>
                    <div style="display: inline-block;margin-left: 20px;">
                        <span style="font-weight: bold;">Role:</span>
                        <span>{{user.role}}</span>
                    </div>
                    <div style="display: inline-block;margin-left: 20px;">
                        <span style="font-weight: bold;">Circle:</span>
                        <span>{{user.circle}}</span>
                    </div
                </div>
            </div>
        </div>
    </div>
</div>
<div id="add-user" style="display: table;" ng-show="addUserScreenVisible">
    <div style="width: 100%;height: 100%;display: table-cell;vertical-align: middle;">
        <div id="add-user-inner" style="width: 50%;height: auto;margin: 0 auto;background-color: #FFF;padding: 20px;border-radius: 8px;">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Add User</legend>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="userDisplayName">User Display Name</label>
                        <div class="col-md-9">
                            <input class="form-control" id="userDisplayName" placeholder="Enter display name of user" ng-model="user_display_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="userEmail">User Email Address</label>
                        <div class="col-md-9">
                            <input type="email" class="form-control" id="userEmail" placeholder="Enter email address of user" ng-model="user_email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="userPassword">User Password</label>
                        <div class="col-md-9">
                            <input class="form-control" id="userPassword" placeholder="Enter password for user" ng-model="user_password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="selectRole">Select Role</label>
                        <div class="col-md-9">
                            <select id="selectRole" name="selectRole" class="form-control" ng-model="user_role">
                                <option value="member">Member</option>
                                <option value="admin">Admin</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                        <button type="submit" class="btn btn-success" id="add_user" ng-click="addUser();">Add User</button>
                        <button class="btn btn-danger" id="cancel_user" ng-click="showAddUserScreen(false);" style="margin-left: 16px;">Cancel</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
