<div id="members" ng-controller="Members" ng-init="initMembers();">
    <div class="header row" ng-include="'/dashboard/partials/header.html'"></div>
    <div id="members-inner">
        <div id="members-header">
            <div id="members-header-text">Members</div>
            <div id="members-circle-selection">
                <div id="members-circle-selection-text">Circle</div>
                <select id="members-circle-list" ng-model="selectCircle" ng-change="changeCircle($event);">
                    <option ng-selected="{{$index == 0}}" ng-repeat="circle in circles" value="{{circle.circle_name}}">{{circle.circle_name}}</option>
                </select>
            </div>
            <div class="admin-button" style="position: absolute;right: 2.031%;top: 20px;" ng-click="showAddMemberScreen(true);">Add Member</div>
        </div>
        <div id="members_list">
            <div style="margin-top: 3.0465%;">
                <img width="16px" height="16px" src="/dashboard/images/icon_mentions.png">
                <span style="vertical-align: middle;margin-left: 4px;font-weight: 600;">{{current_circle.users && current_circle.users.length || 0}} Member{{current_circle.users.length !== 1 && "s" || ""}}</span>
            </div>
            <div>
                <div ng-repeat="user in current_circle.users" style="padding: 2.031% 0;border-bottom: 1px solid #C4CFD7;">
                    <img style="width: 35px;height: 35px;border-radius: 18px;margin: 0;" ng-src="{{user.image_url && user.image_url || '/dashboard/images/icon_no-user.png'}}">
                    <div class="member-info">
                        <div style="font-weight: 600; color: #1b96c9;display: inline-block;width: 25%;">{{user.display_name}}</div>
                        <div style="color: #9399A5;font-size: 13px;display: inline-block;">{{user.user_email}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="add-user" style="display: table;" ng-show="addUserScreenVisible">
    <div style="width: 100%;height: 100%;display: table-cell;vertical-align: middle;">
        <div id="add-user-inner" style="width: 50%;height: auto;margin: 0 auto;background-color: #FFF;padding: 20px;border-radius: 8px;">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Add User</legend>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="userDisplayName">User Display Name</label>
                        <div class="col-md-9">
                            <input class="form-control" id="userDisplayName" placeholder="Enter display name of user" ng-model="user_display_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="userEmail">User Email Address</label>
                        <div class="col-md-9">
                            <input type="email" class="form-control" id="userEmail" placeholder="Enter email address of user" ng-model="user_email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="userPassword">User Password</label>
                        <div class="col-md-9">
                            <input class="form-control" id="userPassword" placeholder="Enter password for user" ng-model="user_password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="selectRole">Select Role</label>
                        <div class="col-md-9">
                            <select id="selectRole" name="selectRole" class="form-control" ng-model="user_role">
                                <option value="member">Member</option>
                                <option value="admin">Admin</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                        <button type="submit" class="btn btn-success" id="add_user" ng-click="addUser();">Add User</button>
                        <button class="btn btn-danger" id="cancel_user" ng-click="showAddUserScreen(false);" style="margin-left: 16px;">Cancel</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
