<div class="view mblView">
    <script type="dojo/require">at: "dojox/mvc/at"</script>
    <div id="headingStart" data-dojo-type="dojox/mobile/Heading">
        <div id="navBtnBackStart" class="navBtnBackStart" data-dojo-type="dojox/mobile/ToolBarButton"></div>
        <img src="css/images/anno.png" alt="" width="40" class="headingIcon">
        <span class="headingTitle">Community</span>

        <div id="btnLoadListData" style="display: none" data-dojo-type="dojox/mobile/ToolBarButton" label="Load Data"></div>
    </div>
    <div id="listContainerStart" style="width: 100%;overflow: auto">
        <ul data-dojo-type="dojox/mobile/EdgeToEdgeList">
            <div class="fieldset"
                 data-dojo-type="dojox/mvc/Repeat"
                 data-dojo-props="exprchar: '#', children: this.loadedModels.events.model">
                <li id="event#{this.index}" class="row"
                    data-dojo-type="dojox/mobile/ListItem"
                    data-dojo-props="transition:'slide',variableHeight:true,clickable:true,transitionOptions:{target:'detail',url:'#detail',params:{cursor:'#{this.index}'}}">
                    <div class="infoContainer">
                        <div class="listTitle" data-dojo-type="dojox/mvc/Output"
                             data-dojo-props="value: at('rel:#{this.index}', 'annoText')"></div>
                        <table style="width: 100%">
                            <tr>
                                <td style="width: 60%;text-align: left">
                                    <div class="listAppName" data-dojo-type="dojox/mvc/Output"
                                         data-dojo-props="value: at('rel:#{this.index}', 'app')"></div>
                                </td>
                                <td style="width: 40%;text-align: right">
                                    <div class="listAuthor" data-dojo-type="dojox/mvc/Output"
                                         data-dojo-props="value: at('rel:#{this.index}', 'author')"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
            </div>

        </ul>
    </div>
</div>
