<div class="view mblView" style="overflow-x: hidden;">
    <div id="screenshotContainer" class="screenshotContainer">
        <img id="imageScreenshot" src="" width="100%" height="100%">
    </div>
    <div id="gfxCanvasContainerLocal" class="gfxCanvasContainerLocal" style="width: 500px; height: 500px;"></div>
    <canvas id="screenshotAnchorLocal" width="40" height="40" class="screenshotAnchorDetail"></canvas>
    <div id="screenshotAnchorInvisibleLocal" class="screenshotAnchorInvisibleDetail"></div>
    <div id="screenshotDefaultAnchorLocal" class="screenshotDefaultAnchorDetail"></div>
    <div id="textTooltipLocal" data-dojo-type="dojox/mobile/Tooltip" class="mblTooltipBubble">
        <div id="screenshotTooltipLocal" class="screenshotTooltipDetail"></div>
    </div>
</div>