/**
 * A sample file for custom CSS to style the Detail Page
 * Please update this file for any changed behaviours
 */

body {
	font-family: 'Helvetica Neue';
}

body#container {
    background-color: #151a20;
}

/* Draw Screen */
#bottomBarContainer {
//	background-color: #1c262f;
}

.btn {
    background-color: #66bffb;
    border-color: #66bffb;
}

#confirmBox {
    color: white;
    background-color: #151a20;
}

#barShareText {
    color: #66bffb;
}