<div>Dear ${user_name},</div>
<div>${invite_msg}</div>
<div>
    <p>1. Install UserSource on your device:<br><a href="https://play.google.com/store/apps/details?id=io.usersource.anno">https://play.google.com/store/apps/details?id=io.usersource.anno</a></p>
    <p>2. Open UserSource, tap "Sign-up" and type "${user_email}" then select a password.</p>
    <p>3. After signing-up, a brief tutorial will explain how to share your feedback about ${community}.</p>
</div>
<div>Thanks for contributing your suggestions to ${community}!</div>