<div class="view mblView" style="background-color: white">
    <div id="headingSearchAnno" data-dojo-type="dojox/mobile/Heading" class="topHeading">
        <span id="navBtnBackSearchAnno" class="icon-forward navBtnBack" data-dojo-props="back:true" data-dojo-type="dojox.mobile.ToolBarButton"></span>
        <span class="barIcon icon-search barIconHighlight" style="float: left;font-size: 28px;line-height: inherit;" onclick="history.back()"></span>
        <span id="headerTitleSearchAnno" class="headingTitle" style="padding-left: 20px;">Search</span>
    </div>
    <div id="noResultContainer_search" style="display:none;text-align: center;margin-top: 20px;color: #D37011">
        <div>No items matched your search.</div>
    </div>
    <div id="listContainerSearch" style="width: 100%;overflow: auto">
        <ul data-dojo-type="dojox/mobile/EdgeToEdgeList">
            <div class="fieldset"
                 data-dojo-type="dojox/mvc/Repeat"
                 data-dojo-props="exprchar: '#', children: this.loadedModels.searchAnno.model">
                <li class="row #{this.ref[this.index].readStatusClass}"
                    data-dojo-type="dojox/mobile/ListItem"
                    data-dojo-props="transition:'slide',variableHeight:true,clickable:true,noArrow:true,transitionOptions:{target:'detail',url:'#detail',params:{cursor:'#{this.index}',source:'tagSearch'}},onClick:annoRead"
                    style="padding: 6px;">
                    <div class="infoContainer">
                        <table style="width: 100%;table-layout: fixed;">
                            <tr>
                                <td width="40" align="center">
                                    <span data-dojo-props="class: at('rel:#{this.index}', 'annoIcon')" data-dojo-type="dojox/mvc/Output" class="annoListItemIcon"></span>
                                    <img data-dojo-type="dojox/mvc/Output" style="width: 40px;height: 40px; border-radius: 8px;" data-dojo-props="src: at('rel:#{this.index}', 'app_icon_url'), class: at('rel:#{this.index}', 'appIconClass')" />
                                </td>
                                <td width="95%">
                                    <table style="width: 100%;table-layout: fixed;">
                                        <tr>
                                            <td style="width: 100%;">
                                                <div class="listTitle" data-dojo-type="dojox/mvc/Output"
                                                     data-dojo-props="value: at('rel:#{this.index}', 'annoText')"></div>
                                            </td>
                                        </tr>
                                    </table>
                                    <table style="width: 100%;table-layout: fixed;font-size: 14px;">
                                        <tr>
                                            <td style="width: 42%;">
                                                <div class="listAppName" data-dojo-type="dojox/mvc/Output"
                                                     data-dojo-props="value: at('rel:#{this.index}', 'app')"></div>
                                            </td>
                                            <td style="width: 42%;">
                                                <div class="listAuthor" data-dojo-type="dojox/mvc/Output"
                                                     data-dojo-props="value: at('rel:#{this.index}', 'author')"></div>
                                            </td>
                                            <td style="width: 16%;text-align: right">
                                                <div class="listAuthor" data-dojo-type="dojox/mvc/Output"
                                                     data-dojo-props="value: at('rel:#{this.index}', 'created')"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
            </div>

        </ul>
    </div>

</div>
