body {
    width: 100%;
    height: 100%;
    position: fixed;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    margin: 0;
    color: #282828 !important;
}
.header {
  width: 100%;
  height: 74px;
  position: fixed;
  padding: 8px 0;
  vertical-align: middle;
  z-index: 100;
  box-shadow: 0px 1px 8px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  margin: 0 !important;
  line-height: 57px;
  border-bottom: 1px solid #c4cfd7;
  top: 0;
  left: 0;
}
#main {
  position: absolute;
  top: 74px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F9F9F9;
}
#main-inner {
  position: absolute;
  border-radius: 4px;
  border: 1px solid #C4CFD7;
  margin: 2.031%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #FFF;
}
.admin-button {
  font-size: 14px;
  background-color: #f62;
  border-radius: 4px;
  height: 24px;
  display: inline-block;
  padding: 0 15px;
  vertical-align: middle;
  line-height: 23px;
  cursor: pointer;
  color: white;
}
.community {
  padding: 10px 20px;
  border-top: 1px solid #C4CFD7;
  cursor: pointer;
  background-color: #F0F2F3;
  font-size: 16px;
}
.community.selected {
  background-color: white;
}
.community-detail-row {
  margin: 20px;
  border-bottom: 1px solid #C4CFD7;
}
.user {
  padding: 20px 0;
  border-bottom: 1px solid #C4CFD7;
}
.user:last-child {
  border: 0;
}
.dashboard-url {
  margin-top: 10px;
  padding-bottom: 20px;
  display: block;
  max-width: 75%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
