@font-face {
   font-family: 'Open Sans'; 
   src: url("fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype"); 
}

@font-face {
   font-family: 'Open Sans';
   font-weight: 700; 
   src: url("fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype"); 
}

@font-face {
   font-family: 'Open Sans';
   font-weight: bold;
   src: url("fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype"); 
}
