<div class="view mblView" style="background-color: #DDDDDD">
    <div style="text-align: center" class="annoOrangeColor">
        <table width="100%">
            <tr>
                <td align="right" width="25%">
                    <img src="../community/css/images/anno96.png" alt="">
                </td>
                <td align="left" width="50%" style="padding-left: 20px;">
                    <div style="font-size: 22pt;font-weight: bold;padding-bottom: 10px;">UserSource</div>
                    <div style="font-size: 13pt;font-weight: bold;">Announce your ideas</div>
                </td>
            </tr>
        </table>
    </div>
    <div id="signupContainer">
        <div style="text-align: center">
            <div id="signupFormContainer" style="font-weight: bold;width:80%;margin-left: auto;margin-right: auto">
                <form action="signin.html" method="post">
                    <div><input id="signupEmail" type="email" placeholder="Email" class="signin-input" style="font-weight: bold;"></div>
                    <div style="padding-top: 2px;"><input id="signupPwd" type="password" placeholder="Password" class="signin-input" style="font-weight: bold;"></div>
                    <div style="padding-top: 2px;"><input id="nickNameSignup" type="text" placeholder="Display name" class="signin-input" style="font-weight: bold;"></div>
                    <div style="padding-top: 8px;"><button id="submitAnnoSignup" class="bigGreenBtn" type="button" style="width: 170px;height: 44px;">Done</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
