<div class="view mblView" style="background-color: #ffffff;">
	<div id="signinContainer" style="width: 100%; height: 100%;position: absolute;top: 0;">
		<div style="text-align: center;top: 10%;position: absolute;left: 0;right: 0;">
			<img id="imgUserSource" src="css/images/logo.png" width="19.6875%" height="10.299295775%" alt="">
			<div style="font-size: 21px;font-weight: bold;margin-top: 3%;color: #f1592b;">Annot8</div>
			<div style="font-size: 17px;margin-top: 4%;">Announce your ideas</div>
		</div>
		<div id="signinContainerInner">
			<div id="imgGoogle" class="signinButton" style="background: #de4a31;color: white;">
				<img width="16px" height="16px" src="css/images/icon_g+.png" />
				<span>Sign in with Google</span>
			</div>
			<div id="imgFacebook" class="signinButton" style="background: #1466a9;color: white;margin-top: 6.25%;">
				<img width="16px" height="16px" src="css/images/icon_fb.png" />
				<span>Sign in with Facebook</span>
			</div>
			<div id="btnSigninWithAnno" class="signinButton" style="background: #262626;color: white;margin-top: 6.25%;">
				<img width="16px" height="16px" src="css/images/icon_mail.png" />
				<span>Sign in with Email</span>
			</div>
		</div>
		<div style="text-align: center;position: absolute;left: 0;right: 0;bottom: 7.042253521%;" id="btnSignUp">
			<div class="signinButton" style="color: #1D8437;border: 1px solid #1D8437;">
				Sign up for Annot8
			</div>
		</div>
	</div>
	<div id="annoSigninContainer" style="text-align: center;background-color: #DDDDDD;display: none">
		<div style="text-align: center" class="annoOrangeColor">
			<table width="100%">
				<tr>
					<td align="right" width="25%"><img src="../community/css/images/anno96.png" alt=""></td>
					<td align="left" width="50%" style="padding: 20px;">
					<div style="font-size: 22pt;font-weight: bold;padding-bottom: 10px;">
						Annot8
					</div>
					<div style="font-size: 13pt;font-weight: bold;">
						Announce your ideas
					</div></td>
				</tr>
			</table>
		</div>
		<div id="signinFormContainer" style="font-weight: bold;width:80%;margin-left: auto;margin-right: auto; display: none">
			<form action="signin.html" method="post">
				<div id="signinMessage" style="color: red;text-align: left;padding-left: 4px;padding-bottom: 4px;display: none"></div>
				<div>
					<input type="email" id="signinEmail" placeholder="Email" required="true" class="signin-input">
					<select id="select" class="signin-input" style="display: none;">
					<input type="password" id="signPwd" placeholder="Password" class="signin-input">
					<input id="nickNameSigninAnno" readonly="readonly" type="text" placeholder="Display Name" class="signin-input">
				</div>
				</select>
				<div style="padding-top: 8px;">
					<span id="btnFmd" style="color: #999999;padding-top: 26px;">Forgot your details?</span>
					<button id="btnSubmitAnnoSignin" class="bigGreenBtn" type="button" style="width: 170px;height: 44px;">
						Done
					</button>
				</div>
			</form>
		</div>
		<div id="signinEmailContainer" style="font-weight: bold;width:80%;margin-left: auto; width: 300px;margin-right: auto; display: none">
			<form action="signin.html" method="post">
				<div id="signinMessage" style="color: red;text-align: left;padding-left: 4px;padding-bottom: 4px;display: none"></div>
				<div>
					<input type="email" id="signinEmailId" placeholder="Email" required="true" class="signin-input">
				</div>
				<div style="padding-top: 8px;">
					<button id="btnNextAnnoSignin" class="bigGreenBtn" type="button" style="width: 170px;height: 44px;">
						Next
					</button>
				</div>
			</form>
		</div>
	<img src="../community/css/images/arrow_back.png" id="btnBackEmail" class="arrow_back_email" style="display: none;">	
	</div>
	<div id="pickNickNameContainer" style="margin-top: 30px;display:none;clear: both;width: 80%;margin-left: auto;margin-right: auto">
		<div id="btnBackToSignin" style="color: #999999;font-weight: bold">
			&lt;&lt; Back to sign-in
		</div>
		<div style="height: 150px;"></div>
		<div style="color: #000000;font-weight: bold;font-size: 20px;padding-bottom: 20px;padding-left: 10px">
			Almost there!
		</div>
		<div style="text-align: center;">
			<input id="nickNameSignin" type="text" placeholder="Name to display in our community" class="signin-input" style="font-weight: bold;">
			<button id="saveNickNameSignIn" class="bigGreenBtn" type="button" style="width: 150px;height: 44px;margin-top: 10px;">
				Save
			</button>
		</div>
	</div>
	<div id="serverURLDialog" data-dojo-type="dojox/mobile/SimpleDialog" style="display: none;width: 96%;height2: 116px;padding: 0px;border:2px solid black;border-top-color:black ">
		<div class="menuItem" style="padding-right: 12px;color: #2B78E4;border-bottom: 2px solid #2B78E4">
			Server URL
		</div>
		<div class="menuItem" id="divServerUrlProduction" style="padding-right: 12px;margin-left: 6px;margin-right: 6px;display: none">
			<label for="rdSUProduction" style="float: left">Production</label>
			<input type="radio" value="1" data-dojo-props="labelText:'Production'" checked="true" id="rdSUProduction" name="rdServerURL" style="float: right;margin-top: -7px;" data-dojo-type="dojox/mobile/RadioButton">
		</div>
		<div class="menuItem" id="divServerUrlTest" style="padding-right: 12px;margin-left: 6px;margin-right: 6px;display: none">
			<label for="rdSUTest" style="float: left">Test</label>
			<input type="radio" value="2" data-dojo-props="labelText:'Test'" id="rdSUTest" name="rdServerURL" style="float: right;margin-top: -7px;" data-dojo-type="dojox/mobile/RadioButton">
		</div>
		<div class="menuItem" id="divServerUrlDev" style="padding-right: 12px;margin-left: 6px;margin-right: 6px;display: none">
			<label for="rdSUDev" style="float: left">Dev</label>
			<input type="radio" value="3" data-dojo-props="labelText:'Dev'" id="rdSUDev" name="rdServerURL" style="float: right;margin-top: -7px;" data-dojo-type="dojox/mobile/RadioButton">
		</div>
		<div class="menuItem" id="divServerUrlLocalhost" style="padding-right:12px; margin-left:6px; margin-right:6px; display:none;">
			<label for="rdSULocalhost" style="float:left;">Localhost</label>
			<input type="radio" value="4" data-dojo-props="labelText:'Localhost'" id="rdSULocalhost" name="rdServerURL" style="float:right; margin-top:-7px;" data-dojo-type="dojox/mobile/RadioButton">
		</div>
		<div id="btnCancelServerURL" class="menuItem" style="padding-right: 12px;margin-left: 6px;margin-right: 6px;border-bottom-width: 0px;text-align: center;color: #808080">
			Cancel
		</div>
	</div>
</div>
