<div class="view mblView">
    <script type="dojo/require">at: "dojox/mvc/at"</script>
    <div id="headingStart" data-dojo-type="dojox/mobile/Heading">
        <img src="css/images/anno.png" alt="" width="40" class="headingIcon">
        <span class="headingTitle">Anno</span>
    </div>
    <div id="listContainerStart" style="width: 100%;overflow: auto">
        <ul data-dojo-type="dojox/mobile/EdgeToEdgeList">
            <div class="fieldset"
                 data-dojo-type="dojox/mvc/Repeat"
                 data-dojo-props="exprchar: '#', children: this.loadedModels.events.model">
                <li id="event#{this.index}" class="row"
                    data-dojo-type="dojox/mobile/ListItem"
                    data-dojo-props="transition:'slide',variableHeight:true,clickable:true,noArrow:true,transitionOptions:{target:'detail',url:'#detail',params:{cursor:'#{this.index}'}}">
                    <div class="infoContainer">
                        <table style="width: 100%;table-layout: fixed;">
                            <tr>
                                <td width="36">
                                    <span data-dojo-props="class: at('rel:#{this.index}', 'annoIcon')" data-dojo-type="dojox/mvc/Output" class="annoListItemIcon"></span>
                                </td>
                                <td width="95%">
                                    <div class="listTitle" data-dojo-type="dojox/mvc/Output"
                                         data-dojo-props="value: at('rel:#{this.index}', 'annoText')"></div>
                                    <table style="width: 100%">
                                        <tr>
                                            <td style="width: 60%;text-align: left">
                                                <div class="listAppName" data-dojo-type="dojox/mvc/Output"
                                                     data-dojo-props="value: at('rel:#{this.index}', 'app')"></div>
                                            </td>
                                            <td style="width: 40%;text-align: right">
                                                <div class="listAuthor" data-dojo-type="dojox/mvc/Output"
                                                     data-dojo-props="value: at('rel:#{this.index}', 'author')"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="25" valign="top">
                                    <div class="mblListItemRightIcon">
                                        <div class="mblDomButtonArrow mblDomButton">
                                            <div></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>
                </li>
            </div>

        </ul>
    </div>
    <div class="homeBottomBar" style="position: absolute;left: 0px;bottom: 0px">
        <table width="100%">
            <tr>
                <td width="25%" align="center">
                    <span id="barArrow" style="font-size: 24px;font-weight: bold;" class="barIconHighlight">Feed</span>
                </td>
                <td width="25%" align="center">
                    <span id="barMyStuff" style="font-weight: bold;" class="barIcon icon-star-empty"></span>
                </td>
                <td width="25%" align="center">
                    <span id="barSearchAnno" class="barIcon icon-search" style="font-size: 36px;"></span>
                </td>
                <td width="25%" align="center">
                    <span id="barMenus" class="barIcon icon-cog"></span>
                </td>
            </tr>
        </table>
    </div>
    <div id="menusDialog" data-dojo-type="dojox/mobile/SimpleDialog" style="display: none;width: 300px;height: 116px;padding: 0px;border:2px solid black;border-top-color:black ">
        <div id="menuItemIntro" class="menuItem">Intro</div>
        <div id="menuItemFeedback" class="menuItem">Feedback</div>
        <div id="menuItemSettings" class="menuItem">Settings</div>
    </div>
</div>
