<div class="infoContainer">
    <table style="width: 100%;table-layout: fixed;">
        <tr>
            <td width="36">
                <span class="annoListItemIcon ${annoIcon}"></span>
            </td>
            <td width="95%">
                <div class="listTitle">${comment}</div>
                <table style="width: 100%">
                    <tr>
                        <td style="width: 60%;text-align: left">
                            <div class="listAppName">${app_name}</div>
                        </td>
                        <td style="width: 40%;text-align: right">
                            <div class="listAuthor"></div>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="25" valign="top">
                <div class="mblListItemRightIcon">
                    <div class="mblDomButtonArrow mblDomButton">
                        <div></div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>