<div class="view mblView" style="background-color: white">
    <div id="headingMyStuff" data-dojo-type="dojox/mobile/Heading" class="topHeading">
        <span id="navBtnBackMyStuff" class="icon-forward" data-dojo-props="back:true" data-dojo-type="dojox.mobile.ToolBarButton"></span>
        <span class="barIcon icon-comment barIconHighlight" style="float: left;font-size: 28px;margin-top: 6px;"></span>
        <span class="headingTitle" style="padding-left: 20px;">My Stuff</span>
    </div>
    <div id="listContainerMyStuff" style="width: 100%;overflow: auto">
        <ul id="annoListMyStuff" data-dojo-type="dojox/mobile/EdgeToEdgeList"></ul>
    </div>
    <div id="learnHowContainer" style="display:none;text-align: center;margin-top: 20px;color: #D37011">
        <div>(You haven't created any annos yet)</div>
        <button id="btnLearnHow" class="btn">Learn how!</button>
    </div>
</div>
