<div class="view mblView" style="background-color: white">
    <div id="headingMyStuff" data-dojo-type="dojox/mobile/Heading" class="topHeading">
        <span id="navBtnBackMyStuff" class="icon-forward" data-dojo-props2="back:true" data-dojo-type="dojox.mobile.ToolBarButton"></span>
        <span id="iconBackMyStuff" class="barIcon icon-comment barIconHighlight" style="float: left;font-size: 28px;margin-top: 6px;" onclick2="history.back()"></span>
        <span class="headingTitle" style="padding-left: 20px;padding-top: 6px">My Stuff</span>
    </div>
    <div id="listContainerMyStuff" style="width: 100%;overflow: auto">
        <ul id="annoListMyStuff" data-dojo-type="dojox/mobile/EdgeToEdgeList"></ul>
    </div>
    <div id="learnHowContainer" style="display:none;text-align: center;margin-top: 20px;color: #D37011">
        <div>You haven’t created or discussed any items yet.  Try discussing or voting on some existing items, which you can find in the Feed or using Search.  Make your own comments on apps and other things. To learn how, view the Intro under the settings menu.</div>
        <button id="btnLearnHow" class="btn" style="display: none">Learn how!</button>
    </div>
</div>
