<div class="view mblView" style="background-color: white">
    <div id="headingSearchAnno" data-dojo-type="dojox/mobile/Heading" class="topHeading">
        <span id="navBtnBackSearchAnno" class="icon-forward" data-dojo-props="back:true" data-dojo-type="dojox.mobile.ToolBarButton"></span>
        <span class="barIcon icon-search barIconHighlight" style="float: left;font-size: 28px;margin-top: 6px;" onclick="history.back()"></span>
        <span class="headingTitle" style="padding-left: 20px;">Search</span>
    </div>
    <div style="text-align: center;margin-top: 20px;color: #f1572a;font-weight: bold;font-size: 16pt">
        <div>Coming soon!</div>
    </div>
</div>
